/**
 * Styles for the Breadcrumbs component *************************************************************
 **/

.guwmi-breadcrumbs {
  
  &.has-background {
    padding: 0.5rem 1rem;
    background: rgba(0,0,0, 0.15);
    border-radius: var(--guwmi-radius);
  }

  ol {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.66rem;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.66rem;
      margin: 0;
      padding: 0;
      line-height: 1;

      a,
      a:visited,
      button {
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
        color: var(--guwmi-link);
        font-size: 1rem;
        text-decoration: underline;
        cursor: pointer;

        &.guwmi-breadcrumb-current {
          color: var(--guwmi-text);
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {

  .guwmi-breadcrumbs.has-background {
    background: rgba(0,0,0, 0.05);
  }
}