/**
 * ButtonGroup component styles *********************************************************************
 **/

.guwmi-btn-group {
  display: flex;

  .guwmi-btn {
    border-radius: 0;
  }

  &:not(.outline) {

    .guwmi-btn {
      border-right-color: rgba(0,0,0,0.15);

      &:last-child {
        border-right-color: rgba(0,0,0,0);
      }
    }
  }

  &.round {

    .guwmi-btn {

      &:first-child {
        border-top-left-radius: var(--guwmi-radius);
        border-bottom-left-radius: var(--guwmi-radius);
      }
  
      &:last-child {
        border-top-right-radius: var(--guwmi-radius);
        border-bottom-right-radius: var(--guwmi-radius);
      }
    }
  }

  &.pill {

    .guwmi-btn {

      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
  
      &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }

  &.outline{

    .guwmi-btn {
      border-right-width: 0;
  
      &:last-child {
        border-right-width: 2px;
      }
    }
  }
}