/**
 * Style for the Cards and child components *********************************************************
 **/

// grid size variables
.guwmi-grid {
  --guwmi-grid-cols: 3;
  --guwmi-grid-gap: 2rem;

  &.col-1 { --guwmi-grid-cols: 1 }
  &.col-2 { --guwmi-grid-cols: 2 }
  &.col-3 { --guwmi-grid-cols: 3 }
  &.col-4 { --guwmi-grid-cols: 4 }
  &.col-5 { --guwmi-grid-cols: 5 }
  &.col-6 { --guwmi-grid-cols: 6 }

  &.space-1 { --guwmi-grid-gap: 1rem }
  &.space-2 { --guwmi-grid-gap: 2rem }
  &.space-3 { --guwmi-grid-gap: 3rem }
  &.space-4 { --guwmi-grid-gap: 4rem }
  &.space-5 { --guwmi-grid-gap: 5rem }
  &.space-6 { --guwmi-grid-gap: 6rem }
}

.guwmi-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--guwmi-grid-gap);

  &:not(.auto) {

    > * {
      box-sizing: border-box;
      flex-basis: calc((100% / var(--guwmi-grid-cols)) - (var(--guwmi-grid-gap) * (var(--guwmi-grid-cols) - 1) / var(--guwmi-grid-cols)));
    }
  }

  &.auto > * {
    flex-basis: auto;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;

    &.right {
      justify-content: flex-start;
    }
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}