/**
 * Styles for the Menu and child components ********************************************************
 **/

// import color variables
@use '../../styles/variables.scss' ;

.guwmi-menu-container {
  position: relative;

  // dropdown positions
  &.top-right .guwmi-menu-dropdown {
    top: -0.25rem;
    right: 0;
    transform: translateY(-100%);
  }

  &.top-left .guwmi-menu-dropdown {
    top: -0.25rem;
    left: 0;
    transform: translateY(-100%);
  }

  &.top-center .guwmi-menu-dropdown {
    top: -0.25rem;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &.bottom-right .guwmi-menu-dropdown {
    bottom: -0.25rem;
    right: 0;
    transform: translateY(100%);
  }

  &.bottom-left .guwmi-menu-dropdown {
    bottom: -0.25rem;
    left: 0;
    transform: translateY(100%);
  }

  &.bottom-center .guwmi-menu-dropdown {
    bottom: -0.25rem;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  // dropdown and menu item styles
  .guwmi-menu-dropdown {
    position: absolute;
    background: var(--guwmi-primary-bg);
    border: solid 1px var(--guwmi-secondary-bg);
    padding: 0.25rem;
    border-radius: var(--guwmi-radius);
    opacity: 0;
    transition: var(--guwmi-transition-short);
    z-index: 99999;

    &.open {
      opacity: 1;
    }

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      .guwmi-menu-item {
        margin: 0;
        padding: 0;
        flex-grow: 1;

        .guwmi-menu-btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          border: 0;
          background: none;
          padding: 0.5rem 0.75rem;
          border-radius: var(--guwmi-inner-radius);
          cursor: pointer;
          width: 100%;
          transition: var(--guwmi-transition);

          &:hover {
            background: var(--guwmi-secondary-bg);
          }
        }
      }
    }
  }
}