/**
 * Styles for the navbar component ******************************************************************
 **/

.guwmi-navbar {

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    .guwmi-navbar-item {
      position: relative;

      &.active {

        &::before {
          position: absolute;
          content: '';
          border-left: solid 4px var(--guwmi-primary);
          height: 100%;
          top: 0;
        }

        .guwmi-navbar-button {
          background: rgba(0,0,0, 0.1);
        }
      }

      &:nth-of-type(1) .guwmi-navbar-button.guwmi-skeleton::after {
        width: 53%;
      }

      &:nth-of-type(2) .guwmi-navbar-button.guwmi-skeleton::after {
        width: 57%;
      }

      &:nth-of-type(3) .guwmi-navbar-button.guwmi-skeleton::after {
        width: 43%;
      }

      &:nth-of-type(4) .guwmi-navbar-button.guwmi-skeleton::after {
        width: 68%;
      }

      &:nth-of-type(5) .guwmi-navbar-button.guwmi-skeleton::after {
        width: 62%;
      }
    }

    .guwmi-navbar-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.75rem 1rem;
      width: 100%;
      font-size: 0.9rem;
      display: flex;
      transition: var(--guwmi-transition);

      &.guwmi-skeleton {
        height: 2.4rem;

        &::after {
          height: 0.9rem;
          top: 1rem;
          left: 1rem;
        }
      }

      &:hover {
        background: rgba(0,0,0, 0.1);
      }

      &:disabled,
      &.disabled {
        cursor: not-allowed;
        color: var(--guwmi-tertiary-bg) !important;
      }

      svg {
        margin-left: auto;
        transition: var(--guwmi-transition-short);
      }
    }

    .guwmi-navbar-group {
      transition: var(--guwmi-transition);
      overflow: hidden;

      &.open {

        > .guwmi-navbar-button {

          svg {
            transform: rotate(90deg);
          }
        }

        > ul {
          display: block;
        }
      }

      ul {
        display: none;
        background: var(--guwmi-primary-bg);

        .guwmi-navbar-button {
          padding-left: 1.5rem;
        }
      }
    }
  }
}