/**
 * Styles for the Notification component ***********************************************************
 **/

.guwmi-notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--guwmi-high-contrast-bg);
  color: var(--guwmi-text-contrast);
  padding: 0.75rem;
  border: 0;
  border-left: solid 6px;
  width: auto;

  &.error {
    border-color: var(--guwmi-alert-red);

    > svg {
      stroke: var(--guwmi-alert-red);
    }
  }

  &.warning {
    border-color: var(--guwmi-alert-orange);

    > svg {
      stroke: var(--guwmi-alert-orange);
    }
  }

  &.success {
    border-color: var(--guwmi-alert-green);

    > svg {
      stroke: var(--guwmi-alert-green);
    }
  }

  &.info {
    border-color: var(--guwmi-alert-blue);

    > svg {
      stroke: var(--guwmi-alert-blue);
    }
  }

  > button {
    position: absolute;
    right: 0.5rem;
    background: 0;
    border: 0;
    color: var(--guwmi-text-contrast);
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  > svg {
    margin-right: 0.5rem;
  }

  h2,
  p {
    font-size: 0.9rem;
    margin: 0;
  }
}