/**
 * Styles for the Skeleton components *******************************************************
 **/

// global skeleton style
.guwmi-skeleton {
  position: relative;
  border-color: var(--guwmi-primary-bg) !important;
  overflow: hidden;

  &.alt {

    &::after {
      animation: guwmi-skeleton-animation-alt 0.9s linear infinite alternate;
    }
  }

  &::after {
    position: absolute;
    display: block;
    z-index: +1;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: default;
    animation: guwmi-skeleton-animation 0.9s linear infinite alternate;
  }
}

.guwmi-skeleton-heading {
  width: auto;
  max-width: 200px;
}

.guwmi-skeleton-paragraph {

  span {
    color: rgba(0,0,0,0);
    height: 1rem;
    display: block;
    width: 100%;
    margin: 0.75rem 0;

    &:last-of-type {
      width: 50%;
    }
  }
}

.guwmi-skeleton-block {
  display: inline-block;
  height: 15rem;
  width: 15rem;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {

  .guwmi-skeleton.alt {

    &::after {
      animation: guwmi-skeleton-animation-alt-light 0.9s linear infinite alternate;
    }
  }
}

@keyframes guwmi-skeleton-animation {
  0% {
    background-color: var(--guwmi-primary-bg);
  }
  100% {
    background-color: var(--guwmi-secondary-bg);
  }
}

@keyframes guwmi-skeleton-animation-alt {
  0% {
    background-color: var(--guwmi-app-bg);
  }
  100% {
    background-color: var(--guwmi-primary-bg);
  }
}