/**
 * Style for the table component ********************************************************************
 **/

@use '../variables.scss';

.guwmi-table-container {
  background: var(--guwmi-primary-bg);
  border-radius: var(--guwmi-radius);
  border: solid 1px var(--guwmi-secondary-bg);
  overflow-x: auto;

  .guwmi-table-header {
    background: var(--guwmi-secondary-bg);
    padding: 1.25rem 1rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      font-size: 1.2rem;
      margin: 0;
      font-weight: 500;
      max-width: 75vw;

      &.guwmi-skeleton {
        max-width: 150px;
      }
    }
  
    p {
      font-size: 0.85rem;
      margin: 0;
      font-weight: 400;
      opacity: 0.75;
      letter-spacing: unset;
      max-width: 75vw;

      &.guwmi-skeleton {
        max-width: 300px;
      }
    }
  }

  &.condensed {

    th,
    td {
      padding: 0.66rem;
    }
  }

  .guwmi-table-content {
    padding: 0.25rem 1rem;
  }

  .guwmi-table-search {
    margin: 1rem 0 0.5rem;
    width: 100%;

    .guwmi-search-input {
      
      input {
        background: var(--guwmi-secondary-bg);

        &::placeholder {
          opacity: 0.65;
        }
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;

    th,
    td {
      text-align: left;
      padding: 1rem;
      margin: 0;
      border: 0;
      border-bottom: solid 1px var(--guwmi-secondary-bg);
      font-size: 0.85rem;
      color: var(--guwmi-high-contrast-bg);

      &.guwmi-skeleton {
        height: 1.5rem;

        &::after {
          height: 40%;
          width: 75%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    thead {

      th {
        border-color: var(--guwmi-text);
        font-size: 0.9rem;
        color: var(--guwmi-text);

        &.guwmi-skeleton {
  
          &::after {
            width: 50%;
          }
        }
      }
    }

    tbody {

      tr:last-of-type {

        td {
          border: 0;
        }
      }
    }
  }

  .guwmi-pagination {
    width: calc(100% - 1.25rem);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    background: var(--guwmi-secondary-bg);
    border-radius: var(--guwmi-radius);
    margin-bottom: 1rem;

    .guwmi-pagination-current-info {
      border-right: solid 2px var(--guwmi-tertiary-bg);
      border-left: solid 2px var(--guwmi-tertiary-bg);
    }

    .guwmi-pagination-navigation {
  
      button {

        &:hover {
          background: var(--guwmi-app-bg);
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {

  .guwmi-table-container {

    .guwmi-table-search {
    
      .guwmi-search-input {
        
        input {
          background: var(--guwmi-white);
          border-color: var(--guwmi-secondary-bg);

          &::placeholder {
            opacity: 0.33;
          }
        }
      }
    }
  }
}

@media screen and (max-width: variables.$breakpoint-md) {

  .guwmi-table-container {

    .guwmi-pagination {

      .guwmi-pagination-current-info {
        border-left: none;
        border-right: none;
        padding: 0.5rem 0;
        padding-left: 0.5rem;
      }
    }
  }
}