/**
 * Style for the table component ********************************************************************
 **/

//  import colors
@use '../../styles/variables.scss' ;

.guwmi-table-container {
  background: var(--guwmi-primary-bg);
  padding: 0.25rem 1rem;
  border-radius: var(--guwmi-radius);
  border: solid 1px var(--guwmi-secondary-bg);

  .guwmi-table-header {
    background: var(--guwmi-secondary-bg);
    padding: 1.25rem 1rem;
    width: 100%;
    transform: translate(-1rem, -0.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      font-size: 1.2rem;
      margin: 0;
      font-weight: 500;
    }
  
    p {
      font-size: 0.85rem;
      margin: 0;
      font-weight: 400;
      opacity: 0.75;
      letter-spacing: unset;
    }
  }

  &.condensed {

    th,
    td {
      padding: 0.66rem;
    }
  }

  .guwmi-table-search {
    margin: 1rem 0 0.5rem;
    width: 100%;
  }

  table {
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 1rem;
      margin: 0;
      border: 0;
      border-bottom: solid 1px var(--guwmi-secondary-bg);
      font-size: 0.9rem;
    }

    thead {

      th {
        border-color: var(--guwmi-tertiary-bg);
        font-size: 1rem;
      }
    }

    tbody {

      tr:last-of-type {

        td {
          border: 0;
        }
      }
    }
  }
}