/**
 * Styles for the Tabs component and children *******************************************************
 **/

.guwmi-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .guwmi-tabs {
    position: relative;
    display: flex;
    gap: 0.25rem;
    background: var(--guwmi-primary-bg);
    border: solid 1px var(--guwmi-secondary-bg);
    border-radius: var(--guwmi-radius);
    padding: 0.25rem;

    .guwmi-tabs-slider {
      position: absolute;
      height: calc(100% - 0.5rem);
      background: var(--guwmi-secondary-bg);
      border-radius: var(--guwmi-inner-radius);
      transition: var(--guwmi-transition);
    }

    .guwmi-tab {
      position: relative;
      z-index: +1;
      background: none;
      border: 0;
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
      cursor: pointer;
    }
  }

  .guwmi-tab-panels {
    position: relative;
    border: solid 1px var(--guwmi-secondary-bg);
    border-radius: var(--guwmi-radius);
    overflow: hidden;
    transition: var(--guwmi-transition);

    .guwmi-tab-panel {
      padding: 1rem;
    }
  }
}