/**
 * Style for the Cards and child components *********************************************************
 **/

.guwmi-vertical-grid {
  display: flex;
  flex-direction: column;

  &.space-0 { gap: 0 }
  &.space-1 { gap: 1rem; }
  &.space-2 { gap: 2rem; }
  &.space-3 { gap: 3rem; }
  &.space-4 { gap: 4rem; }
  &.space-5 { gap: 5rem; }
  &.space-6 { gap: 6rem; }

  &.pad-0 { padding: 0; }
  &.pad-1 { padding: 1rem; }
  &.pad-2 { padding: 2rem; }
  &.pad-3 { padding: 3rem; }
  &.pad-4 { padding: 4rem; }
  &.pad-5 { padding: 5rem; }
  &.pad-6 { padding: 6rem; }

  > * {
    box-sizing: border-box;
    width: 100%;
  }
}