/**
 * Styles for the Drawer component ******************************************************************
 **/
.guwmi-drawer-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  backdrop-filter: blur(0);
  z-index: 99999;
  transition: var(--guwmi-transition-short);
  display: flex;
}
.guwmi-drawer-overlay.open {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
}
.guwmi-drawer-overlay.open .guwmi-drawer.left,
.guwmi-drawer-overlay.open .guwmi-drawer.right {
  transform: translateX(0);
}
.guwmi-drawer-overlay .guwmi-drawer {
  position: relative;
  display: block;
  background: var(--guwmi-text-contrast);
  color: var(--guwmi-text);
  padding: 1rem;
  transition: var(--guwmi-transition);
  min-width: 300px;
}
.guwmi-drawer-overlay .guwmi-drawer.left {
  border-right: solid 1px var(--guwmi-primary-bg);
  transform: translateX(-100%);
  margin-right: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.left .guwmi-drawer-close-button {
  right: -0.25rem;
  transform: translateX(100%);
}
.guwmi-drawer-overlay .guwmi-drawer.right {
  border-left: solid 1px var(--guwmi-primary-bg);
  transform: translateX(100%);
  margin-left: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.right .guwmi-drawer-close-button {
  left: -0.25rem;
  transform: translateX(-100%);
}
.guwmi-drawer-overlay .guwmi-drawer .guwmi-drawer-close-button {
  position: absolute;
  top: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .guwmi-drawer-close-button {
    color: var(--guwmi-text-contrast);
  }
}
