/**
 * Styles for the Button component ******************************************************************
 **/

// import color variables
@use '../../styles/variables/colors.scss' ;

// component styles
.guwmi-btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px rgba(0,0,0,0);
  transition: ease all 0.33333s;
  color: white;
  background: black;
  text-decoration: none;

  // sizes
  &.sm {
    padding: 0.25rem 0.67rem;
    font-size: 0.9rem;
  }

  &.md {
    padding: 0.5rem 1.25rem;
  }

  &.lg {
    padding: 0.65rem 2rem;
    font-size: 1.1rem;
  }

  // color
  &.primary {
    background: var(--primary);
    border-color: var(--primary);

    &:hover {

      &.fill {
        background: var(--primary-alt);
        border-color: var(--primary-alt);
      }

      &.outline {
        background: var(--primary);
        border-color: var(--primary);
        color: white;
      }
    }

    &.outline {
      color: var(--primary);
      border-color: var(--primary);
    }

    &.ghost {
      color: var(--primary);
    }
  }

  &.secondary {
    background: var(--secondary);
    border-color: var(--secondary);

    &:hover {

      &.fill {
        background: var(--secondary-alt);
        border-color: var(--secondary-alt);
      }

      &.outline {
        background: var(--secondary);
        border-color: var(--secondary);
        color: white;
      }
    }

    &.outline {
      color: var(--secondary);
      border-color: var(--secondary);
    }
    &.ghost {
      color: var(--secondary);
    }
  }
  
  &.danger {
    background: var(--alert-red);
    border-color: var(--alert-red);

    &:hover {

      &.fill {
        background: var(--alert-red-alt);
        border-color: var(--alert-red-alt);
      }

      &.outline {
        background: var(--alert-red);
        border-color: var(--alert-red);
        color: white;
      }
    }

    &.outline {
      color: var(--alert-red);
      border-color: var(--alert-red);
    }

    &.ghost {
      color: var(--alert-red);
    }
  }

  // kinds
  &.outline {
    background: none;
    border-color: white;
  }

  &.ghost {
    background: none;
    border-color: rgba(0,0,0,0);
  }

  // theme
  &.round {
    border-radius: 4px;
  }

  &.pill {
    border-radius: 50px;
  }
}

@media (prefers-color-scheme: dark) {

  .guwmi-btn {

    &.outline {
      background: rgba(0,0,0,0.1);
    }

    &.ghost {
      background: rgba(0,0,0,0.1);
  
      &:hover {
        background: rgba(0,0,0,0.15);;
      }
    }
  }
}