/**
 * Styles for the Button component ******************************************************************
 **/

// import color variables
@use '../../styles/variables/colors.scss' as colors;

// component styles
.guwmi-btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px rgba(0,0,0,0);
  transition: ease all 0.33333s;

  // sizes
  &.sm {
    padding: 0.25rem 0.67rem;
    font-size: 0.9rem;
  }

  &.md {
    padding: 0.5rem 1.25rem;
  }

  &.lg {
    padding: 0.65rem 2rem;
    font-size: 1.1rem;
  }

  // colors
  &.primary {
    background: colors.$primary;
    border-color: colors.$primary;
    color: colors.$white;

    &:hover {

      &.fill {
        background: colors.$primary-light;
        border-color: colors.$primary-light;
      }

      &.outline {
        background: colors.$primary;
        border-color: colors.$primary;
        color: colors.$white;
      }
    }

    &.outline,
    &.ghost {
      color: colors.$primary;
    }
  }

  &.secondary {
    background: colors.$secondary;
    border-color: colors.$secondary;
    color: colors.$white;

    &:hover {

      &.fill {
        background: colors.$secondary-light;
        border-color: colors.$secondary-light;
      }

      &.outline {
        background: colors.$secondary;
        border-color: colors.$secondary;
        color: colors.$white;
      }
    }

    &.outline,
    &.ghost {
      color: colors.$secondary;
    }
  }

  &.black {
    background: colors.$black;
    border-color: colors.$black;
    color: colors.$white;

    &:hover {

      &.fill {
        background: colors.$gray-70;
        border-color: colors.$gray-70;
      }

      &.outline {
        background: colors.$black;
        border-color: colors.$black;
        color: colors.$white;
      }
    }

    &.outline,
    &.ghost {
      color: colors.$black;
    }
  }

  &.white {
    background: colors.$white;
    border-color: colors.$white;
    color: colors.$black;

    &:hover {

      &.fill {
        background: colors.$gray-10;
        border-color: colors.$gray-10;
      }

      &.outline {
        background: colors.$white;
        border-color: colors.$white;
        color: colors.$black;
      }
    }

    &.outline,
    &.ghost {
      color: colors.$white;
    }
  }

  &.gray {
    background: colors.$gray-40;
    border-color: colors.$gray-40;
    color: colors.$black;

    &:hover {

      &.fill {
        background: colors.$gray-60;
        border-color: colors.$gray-60;
      }

      &.outline {
        background: colors.$gray-40;
        border-color: colors.$gray-40;
        color: colors.$black;
      }
    }

    &.outline,
    &.ghost {
      color: colors.$gray-50;
    }
  }

  // kinds
  &.outline {
    background: none;
  }

  &.ghost {
    background: none;
    border-color: rgba(0,0,0,0);
  }

  // styles
  &.round {
    border-radius: 4px;
  }

  &.pill {
    border-radius: 50px;
  }
}