/**
 * Styles for the Button component ******************************************************************
 **/

@use '../../styles/variables/colors.scss' as colors;
.guwmi-btn {
  border: 0;
  cursor: pointer;
  background: colors.$red;
}