/**
 * Styles for the Button component ******************************************************************
 **/

/* @import '/styles/colors.css'; */
/* @import '/styles/colors.css'; */
.guwmiBtn {
  border: 0;
  cursor: pointer;
  background: red;
}