/**
 * Styles for the Accordion component and children **************************************************
 **/
.guwmi-accordion-container {
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item:nth-of-type(1) > button {
  border-top: 0;
}
.guwmi-accordion-container .guwmi-accordion-item.guwmi-skeleton {
  margin-bottom: 1px;
}
.guwmi-accordion-container .guwmi-accordion-item > button {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  background: var(--guwmi-primary-bg);
  border-top: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-accordion-container .guwmi-accordion-item > button.active svg {
  transform: rotate(90deg);
}
.guwmi-accordion-container .guwmi-accordion-item > button svg {
  margin-left: auto;
  transition: var(--guwmi-transition-short);
}
.guwmi-accordion-container .guwmi-accordion-item > section {
  transition: var(--guwmi-transition);
}
.guwmi-accordion-container .guwmi-accordion-item > section .guwmi-accordion-panel-content {
  padding: 1rem;
}
