/**
 * Styles for the Breadcrumbs component *************************************************************
 **/
.guwmi-breadcrumbs.has-background {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: var(--guwmi-radius);
}
.guwmi-breadcrumbs ol {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.66rem;
  margin: 0;
  padding: 0;
}
.guwmi-breadcrumbs ol li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.66rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.guwmi-breadcrumbs ol li a,
.guwmi-breadcrumbs ol li a:visited,
.guwmi-breadcrumbs ol li button {
  display: block;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: var(--guwmi-link);
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.5;
}
.guwmi-breadcrumbs ol li a.guwmi-breadcrumb-current,
.guwmi-breadcrumbs ol li a:visited.guwmi-breadcrumb-current,
.guwmi-breadcrumbs ol li button.guwmi-breadcrumb-current {
  color: var(--guwmi-text);
  text-decoration: none;
  cursor: default;
}
.guwmi-breadcrumbs ol li a.disabled, .guwmi-breadcrumbs ol li a:disabled,
.guwmi-breadcrumbs ol li a:visited.disabled,
.guwmi-breadcrumbs ol li a:visited:disabled,
.guwmi-breadcrumbs ol li button.disabled,
.guwmi-breadcrumbs ol li button:disabled {
  color: var(--guwmi-text);
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}
.guwmi-breadcrumbs ol li a:focus-visible,
.guwmi-breadcrumbs ol li a:visited:focus-visible,
.guwmi-breadcrumbs ol li button:focus-visible {
  box-shadow: 0 0 0 2px var(--guwmi-white), 0 0 0 4px var(--guwmi-primary);
}

@media (prefers-color-scheme: light) {
  .guwmi-breadcrumbs.has-background {
    background: rgba(0, 0, 0, 0.05);
  }
}
