/**
 * Styles for the Button component ******************************************************************
 **/
.guwmi-btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px rgba(0, 0, 0, 0);
  transition: var(--guwmi-transition);
  color: white;
  background: black;
  text-decoration: none;
}
.guwmi-btn:disabled, .guwmi-btn.disabled {
  cursor: not-allowed;
  background-color: var(--guwmi-primary-bg) !important;
  border-color: var(--guwmi-primary-bg) !important;
  color: var(--guwmi-tertiary-bg) !important;
}
.guwmi-btn.sm {
  padding: 0.25rem 0.67rem;
  font-size: 0.9rem;
  gap: 0.5rem;
}
.guwmi-btn.md {
  padding: 0.5rem 1.25rem;
}
.guwmi-btn.lg {
  padding: 0.65rem 2rem;
  font-size: 1.1rem;
  gap: 1.5rem;
}
.guwmi-btn.primary {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
}
.guwmi-btn.primary.active.fill, .guwmi-btn.primary:hover.fill {
  background: var(--guwmi-primary-alt);
  border-color: var(--guwmi-primary-alt);
}
.guwmi-btn.primary.active.outline, .guwmi-btn.primary:hover.outline {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
  color: white;
}
.guwmi-btn.primary.outline {
  color: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
}
.guwmi-btn.primary.ghost {
  color: var(--guwmi-primary);
}
.guwmi-btn.secondary {
  background: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
}
.guwmi-btn.secondary.active.fill, .guwmi-btn.secondary:hover.fill {
  background: var(--guwmi-secondary-alt);
  border-color: var(--guwmi-secondary-alt);
}
.guwmi-btn.secondary.active.outline, .guwmi-btn.secondary:hover.outline {
  background: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
  color: white;
}
.guwmi-btn.secondary.outline {
  color: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
}
.guwmi-btn.secondary.ghost {
  color: var(--guwmi-secondary);
}
.guwmi-btn.danger {
  background: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
}
.guwmi-btn.danger.active.fill, .guwmi-btn.danger:hover.fill {
  background: var(--guwmi-alert-red-alt);
  border-color: var(--guwmi-alert-red-alt);
}
.guwmi-btn.danger.active.outline, .guwmi-btn.danger:hover.outline {
  background: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
  color: white;
}
.guwmi-btn.danger.outline {
  color: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
}
.guwmi-btn.danger.ghost {
  color: var(--guwmi-alert-red);
}
.guwmi-btn.neutral {
  background: var(--guwmi-secondary-bg);
  border-color: var(--guwmi-secondary-bg);
  color: var(--guwmi-text);
}
.guwmi-btn.neutral.active, .guwmi-btn.neutral:hover {
  color: white;
}
.guwmi-btn.neutral.active.fill, .guwmi-btn.neutral:hover.fill {
  background: var(--guwmi-primary-alt);
  border-color: var(--guwmi-primary-alt);
}
.guwmi-btn.neutral.active.outline, .guwmi-btn.neutral:hover.outline {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
  color: white;
}
.guwmi-btn.neutral.outline {
  color: var(--guwmi-text);
  border-color: var(--guwmi-text);
}
.guwmi-btn.neutral.ghost {
  color: var(--guwmi-text);
}
.guwmi-btn.outline {
  background: rgba(0, 0, 0, 0.1);
  border-color: white;
}
.guwmi-btn.ghost {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0);
}
.guwmi-btn.ghost.active, .guwmi-btn.ghost:hover {
  background: rgba(0, 0, 0, 0.15);
}
.guwmi-btn.round {
  border-radius: var(--guwmi-radius);
}
.guwmi-btn.pill {
  border-radius: 50px;
}

@media (prefers-color-scheme: light) {
  .guwmi-btn.outline {
    background: none;
  }
  .guwmi-btn.ghost {
    background: none;
  }
  .guwmi-btn.ghost.active, .guwmi-btn.ghost:hover {
    background: var(--guwmi-primary-bg);
  }
}
