/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-card {
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.guwmi-card .guwmi-card-image {
  width: 100%;
  object-fit: cover;
}
.guwmi-card .guwmi-card-section {
  padding: 1rem;
  border-top: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-card .guwmi-card-section:first-of-type {
  border-top: 0;
}
.guwmi-card .guwmi-card-section.guwmi-card-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.guwmi-card .guwmi-card-section.guwmi-card-title h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}
.guwmi-card .guwmi-card-section.guwmi-card-title h3 {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
  opacity: 0.65;
  letter-spacing: unset;
}
.guwmi-card.guwmi-skeleton {
  min-height: 15rem;
}

@media (prefers-color-scheme: light) {
  .guwmi-card {
    background: var(--guwmi-white);
  }
}
