/**
 * Styles for the Drawer component ******************************************************************
 **/
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --guwmi-text: #f4f4f4;
  --guwmi-text-contrast: #161616;
  --guwmi-app-bg: #262626;
  --guwmi-primary-bg: #393939;
  --guwmi-secondary-bg: #525252;
  --guwmi-tertiary-bg: #6f6f6f;
  --guwmi-high-contrast-bg: #f4f4f4;
  --guwmi-primary: #1876c8;
  --guwmi-primary-alt: #1565c0;
  --guwmi-secondary: #9d4edd;
  --guwmi-secondary-alt: #8434ca;
  --guwmi-white: #fff;
  --guwmi-black: #000;
  --guwmi-alert-red: #da1e28;
  --guwmi-alert-red-text: #ff4c4c;
  --guwmi-alert-green: #24a148;
  --guwmi-alert-orange: #ff832b;
  --guwmi-alert-yellow: #f1c21b;
  --guwmi-alert-blue: #1876c8;
  --guwmi-link: #1e95fc;
  --guwmi-font-size: 16px;
  --guwmi-radius: 3px;
  --guwmi-inner-radius: 2px;
  --guwmi-transition: ease all 0.4s;
  --guwmi-transition-short: ease all 0.15s;
  --guwmi-transition-long: ease all 0.6s;
}

@media (prefers-color-scheme: light) {
  :root {
    --guwmi-text: #161616;
    --guwmi-text-contrast: white;
    --guwmi-app-bg: #f9f9f9;
    --guwmi-primary-bg: #f4f4f4;
    --guwmi-secondary-bg: #e0e0e0;
    --guwmi-tertiary-bg: #a8a8a8;
    --guwmi-high-contrast-bg: #393939;
    --guwmi-primary: #1565c0;
    --guwmi-primary-alt: #1876c8;
    --guwmi-secondary: #8434ca;
    --guwmi-secondary-alt: #9d4edd;
    --guwmi-link: #1565c0;
    --guwmi-alert-red-text: #c2141d;
  }
}
.guwmi-drawer-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  backdrop-filter: blur(0);
  z-index: 99999;
  transition: var(--guwmi-transition-short);
  display: flex;
}
.guwmi-drawer-overlay.open {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
}
.guwmi-drawer-overlay.open .guwmi-drawer.left,
.guwmi-drawer-overlay.open .guwmi-drawer.right {
  transform: translateX(0);
}
.guwmi-drawer-overlay .guwmi-drawer {
  position: relative;
  display: block;
  background: var(--guwmi-text-contrast);
  color: var(--guwmi-text);
  padding: 1rem;
  transition: var(--guwmi-transition);
  min-width: 300px;
  height: calc(100% - 1.98rem);
}
.guwmi-drawer-overlay .guwmi-drawer > *:not(.guwmi-drawer-close-button) {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.left {
  border-right: solid 1px var(--guwmi-primary-bg);
  transform: translateX(-100%);
  margin-right: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.left .guwmi-drawer-close-button {
  right: -0.25rem;
  transform: translateX(100%);
}
.guwmi-drawer-overlay .guwmi-drawer.right {
  border-left: solid 1px var(--guwmi-primary-bg);
  transform: translateX(100%);
  margin-left: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.right .guwmi-drawer-close-button {
  left: -0.25rem;
  transform: translateX(-100%);
}
.guwmi-drawer-overlay .guwmi-drawer .guwmi-drawer-close-button {
  position: absolute;
  top: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .guwmi-drawer-close-button {
    color: var(--guwmi-text-contrast);
  }
}
@media screen and (max-width: 480px) {
  .guwmi-drawer-overlay .guwmi-drawer {
    min-width: 0;
    width: calc(100vw - 5rem);
  }
}
