/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.guwmi-grid > * {
  box-sizing: border-box;
}
.guwmi-grid.no-wrap {
  flex-wrap: nowrap;
}
.guwmi-grid.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.guwmi-grid.reverse.right {
  justify-content: flex-start;
}
.guwmi-grid.right {
  justify-content: flex-end;
}
.guwmi-grid.center {
  justify-content: center;
}
.guwmi-grid.auto > * {
  flex-basis: auto;
}
.guwmi-grid.two > * {
  flex-basis: calc(50% - 0.5rem);
}
.guwmi-grid.three > * {
  flex-basis: calc(33.33333% - 0.66666rem);
}
.guwmi-grid.four > * {
  flex-basis: calc(25% - 0.75rem);
}
.guwmi-grid.five > * {
  flex-basis: calc(20% - 0.8rem);
}
.guwmi-grid.six > * {
  flex-basis: calc(15% - 0.85rem);
}
