/**
 * Styles for the InfoBlock component **************************************************************
 **/
.guwmi-info-block {
  position: relative;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  border: solid 1px var(--guwmi-alert-blue);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  gap: 1rem;
}
.guwmi-info-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--guwmi-alert-blue);
  opacity: 0.1;
}
.guwmi-info-block.danger {
  border-color: var(--guwmi-alert-red);
}
.guwmi-info-block.danger::before {
  background-color: var(--guwmi-alert-red);
}
.guwmi-info-block.warning {
  border-color: var(--guwmi-alert-yellow);
}
.guwmi-info-block.warning::before {
  background-color: var(--guwmi-alert-yellow);
}
.guwmi-info-block.success {
  border-color: var(--guwmi-alert-green);
}
.guwmi-info-block.success::before {
  background-color: var(--guwmi-alert-green);
}
.guwmi-info-block > div {
  position: relative;
  z-index: 1;
}
.guwmi-info-block .guwmi-info-block-label {
  margin: 0.1rem 0;
  font-size: 1rem;
}
