/**
 * Styles for the Notification component ***********************************************************
 **/
.guwmi-notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--guwmi-high-contrast-bg);
  color: var(--guwmi-text-contrast);
  padding: 0.75rem;
  border: 0;
  border-left: solid 6px;
  width: auto;
}
.guwmi-notification.error {
  border-color: var(--guwmi-alert-red);
}
.guwmi-notification.error > svg {
  stroke: var(--guwmi-alert-red);
}
.guwmi-notification.warning {
  border-color: var(--guwmi-alert-orange);
}
.guwmi-notification.warning > svg {
  stroke: var(--guwmi-alert-orange);
}
.guwmi-notification.success {
  border-color: var(--guwmi-alert-green);
}
.guwmi-notification.success > svg {
  stroke: var(--guwmi-alert-green);
}
.guwmi-notification.info {
  border-color: var(--guwmi-alert-blue);
}
.guwmi-notification.info > svg {
  stroke: var(--guwmi-alert-blue);
}
.guwmi-notification > button {
  position: absolute;
  right: 0.5rem;
  background: 0;
  border: 0;
  color: var(--guwmi-text-contrast);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.guwmi-notification > svg {
  margin-right: 0.5rem;
}
.guwmi-notification h2,
.guwmi-notification p {
  font-size: 0.9rem;
  margin: 0;
}
