/**
 * Styles for the Notification component ***********************************************************
 **/
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --guwmi-text: #161616;
  --guwmi-text-contrast: white;
  --guwmi-app-bg: white;
  --guwmi-primary-bg: #f4f4f4;
  --guwmi-secondary-bg: #e0e0e0;
  --guwmi-tertiary-bg: #a8a8a8;
  --guwmi-high-contrast-bg: #393939;
  --guwmi-primary: #1565c0;
  --guwmi-primary-alt: #1876c8;
  --guwmi-secondary: #8434ca;
  --guwmi-secondary-alt: #9d4edd;
  --guwmi-white: #fff;
  --guwmi-black: #000;
  --guwmi-alert-red: #da1e28;
  --guwmi-alert-red-alt: #c2141d;
  --guwmi-alert-green: #24a148;
  --guwmi-alert-orange: #ff832b;
  --guwmi-alert-yellow: #f1c21b;
  --guwmi-font-size: 16px;
  --guwmi-radius: 3px;
  --guwmi-inner-radius: 2px;
  --guwmi-transition: ease all 0.4s;
  --guwmi-transition-short: ease all 0.15s;
  --guwmi-transition-long: ease all 0.6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --guwmi-text: #f4f4f4;
    --guwmi-text-contrast: #161616;
    --guwmi-app-bg: #262626;
    --guwmi-primary-bg: #393939;
    --guwmi-secondary-bg: #525252;
    --guwmi-high-contrast-bg: #f4f4f4;
    --guwmi-tertiary-bg: #6f6f6f;
    --guwmi-primary: #1876c8;
    --guwmi-primary-alt: #1565c0;
    --guwmi-secondary: #9d4edd;
    --guwmi-secondary-alt: #8434ca;
  }
}
.guwmi-notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--guwmi-high-contrast-bg);
  color: var(--guwmi-text-contrast);
  padding: 0.75rem;
  border: 0;
  border-left: solid 6px;
  width: auto;
}
.guwmi-notification.error {
  border-color: var(--guwmi-alert-red);
}
.guwmi-notification.error > svg {
  stroke: var(--guwmi-alert-red);
}
.guwmi-notification.warning {
  border-color: var(--guwmi-alert-orange);
}
.guwmi-notification.warning > svg {
  stroke: var(--guwmi-alert-orange);
}
.guwmi-notification.success {
  border-color: var(--guwmi-alert-green);
}
.guwmi-notification.success > svg {
  stroke: var(--guwmi-alert-green);
}
.guwmi-notification > button {
  position: absolute;
  right: 0.5rem;
  background: 0;
  border: 0;
  color: var(--guwmi-text-contrast);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.guwmi-notification > svg {
  margin-right: 0.5rem;
}
.guwmi-notification h2,
.guwmi-notification p {
  font-size: 0.9rem;
  margin: 0;
}
