/**
 * Style for the pagination component ***************************************************************
 **/
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --guwmi-text: #f4f4f4;
  --guwmi-text-contrast: #161616;
  --guwmi-app-bg: #262626;
  --guwmi-primary-bg: #393939;
  --guwmi-secondary-bg: #525252;
  --guwmi-tertiary-bg: #6f6f6f;
  --guwmi-high-contrast-bg: #f4f4f4;
  --guwmi-primary: #1876c8;
  --guwmi-primary-alt: #1565c0;
  --guwmi-secondary: #9d4edd;
  --guwmi-secondary-alt: #8434ca;
  --guwmi-white: #fff;
  --guwmi-black: #000;
  --guwmi-alert-red: #da1e28;
  --guwmi-alert-red-text: #ff4c4c;
  --guwmi-alert-green: #24a148;
  --guwmi-alert-orange: #ff832b;
  --guwmi-alert-yellow: #f1c21b;
  --guwmi-alert-blue: #1876c8;
  --guwmi-link: #1e95fc;
  --guwmi-font-size: 16px;
  --guwmi-radius: 3px;
  --guwmi-inner-radius: 2px;
  --guwmi-transition: ease all 0.4s;
  --guwmi-transition-short: ease all 0.15s;
  --guwmi-transition-long: ease all 0.6s;
}

@media (prefers-color-scheme: light) {
  :root {
    --guwmi-text: #161616;
    --guwmi-text-contrast: white;
    --guwmi-app-bg: #f9f9f9;
    --guwmi-primary-bg: #f4f4f4;
    --guwmi-secondary-bg: #e0e0e0;
    --guwmi-tertiary-bg: #a8a8a8;
    --guwmi-high-contrast-bg: #393939;
    --guwmi-primary: #1565c0;
    --guwmi-primary-alt: #1876c8;
    --guwmi-secondary: #8434ca;
    --guwmi-secondary-alt: #9d4edd;
    --guwmi-link: #1565c0;
    --guwmi-alert-red-text: #c2141d;
  }
}
.guwmi-pagination {
  display: flex;
  width: 100%;
  border-top: solid 1px var(--guwmi-secondary-bg);
  padding: 3px 0 0;
  gap: 0.5rem;
}
.guwmi-pagination .guwmi-select-input {
  flex-direction: row;
  align-items: center;
}
.guwmi-pagination .guwmi-select-input label {
  text-wrap: nowrap;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container {
  flex-grow: 0;
  width: auto;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container select {
  width: auto;
  border: 0;
  background: none;
  padding-right: 2rem;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container .guwmi-select-icon {
  right: 0.5rem;
}
.guwmi-pagination .guwmi-pagination-page-size-contaiiner {
  flex-shrink: 1;
}
.guwmi-pagination .guwmi-pagination-current-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right: solid 2px var(--guwmi-secondary-bg);
  border-left: solid 2px var(--guwmi-secondary-bg);
  padding-left: 1rem;
}
.guwmi-pagination .guwmi-pagination-current-info p {
  font-size: 0.9rem;
  margin: 0;
}
.guwmi-pagination .guwmi-pagination-current-info p span {
  margin: 0 0.25rem;
}
.guwmi-pagination .guwmi-pagination-navigation {
  flex-shrink: 1;
  display: flex;
  gap: 2px;
}
.guwmi-pagination .guwmi-pagination-navigation .guwmi-select-input {
  flex-direction: row-reverse;
  margin-right: 1rem;
}
.guwmi-pagination .guwmi-pagination-navigation button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--guwmi-primary-bg);
  border: 0;
  padding: 0 0.66rem;
  cursor: pointer;
}
.guwmi-pagination .guwmi-pagination-navigation button:hover {
  background: var(--guwmi-secondary-bg);
}
.guwmi-pagination .guwmi-pagination-navigation button:disabled {
  background: none;
  opacity: 0.33;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .guwmi-pagination .guwmi-pagination-page-size-contaiiner {
    display: none;
  }
  .guwmi-pagination .guwmi-pagination-navigation .guwmi-select-input {
    display: none;
  }
  .guwmi-pagination .guwmi-pagination-current-info {
    border-left: none;
    border-right: none;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
  }
}
