/**
 * Style for the table component ********************************************************************
 **/
.guwmi-table-container {
  background: var(--guwmi-primary-bg);
  padding: 0.25rem 1rem;
  border-radius: var(--guwmi-radius);
  border: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-table-container .guwmi-table-header {
  background: var(--guwmi-secondary-bg);
  padding: 1.25rem 1rem;
  width: 100%;
  transform: translate(-1rem, -0.25rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-table-container .guwmi-table-header h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}
.guwmi-table-container .guwmi-table-header p {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
  opacity: 0.75;
  letter-spacing: unset;
}
.guwmi-table-container.condensed th,
.guwmi-table-container.condensed td {
  padding: 0.66rem;
}
.guwmi-table-container .guwmi-table-search {
  margin: 1rem 0 0.5rem;
  width: 100%;
}
.guwmi-table-container .guwmi-table-search .guwmi-search-input input {
  background: var(--guwmi-secondary-bg);
}
.guwmi-table-container .guwmi-table-search .guwmi-search-input input::placeholder {
  opacity: 0.65;
}
.guwmi-table-container table {
  width: 100%;
}
.guwmi-table-container table th,
.guwmi-table-container table td {
  text-align: left;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-bottom: solid 1px var(--guwmi-secondary-bg);
  font-size: 0.9rem;
}
.guwmi-table-container table thead th {
  border-color: var(--guwmi-tertiary-bg);
  font-size: 1rem;
}
.guwmi-table-container table tbody tr:last-of-type td {
  border: 0;
}
.guwmi-table-container .guwmi-pagination {
  width: calc(100% - 1.25rem);
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  background: var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  margin-bottom: 1rem;
}
.guwmi-table-container .guwmi-pagination .guwmi-pagination-current-info {
  border-right: solid 2px var(--guwmi-tertiary-bg);
  border-left: solid 2px var(--guwmi-tertiary-bg);
}
.guwmi-table-container .guwmi-pagination .guwmi-pagination-navigation button:hover {
  background: var(--guwmi-app-bg);
}

@media (prefers-color-scheme: light) {
  .guwmi-table-container .guwmi-table-search .guwmi-search-input input {
    background: var(--guwmi-white);
    border-color: var(--guwmi-secondary-bg);
  }
  .guwmi-table-container .guwmi-table-search .guwmi-search-input input::placeholder {
    opacity: 0.33;
  }
}
