/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-vertical-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.guwmi-vertical-grid.two {
  gap: 2rem;
}
.guwmi-vertical-grid.three {
  gap: 3rem;
}
.guwmi-vertical-grid.four {
  gap: 4rem;
}
.guwmi-vertical-grid.five {
  gap: 5rem;
}
.guwmi-vertical-grid.six {
  gap: 6rem;
}
.guwmi-vertical-grid > * {
  box-sizing: border-box;
  width: 100%;
}
