/**
 * Index file for pulling all component files together **********************************************
 **/

// import variables
@use './variables.scss';

// import component stylesheets
@use './components/accordion.scss';
@use './components/button.scss';
@use './components/button-group.scss';
@use './components/cards.scss';
@use './components/container.scss';
@use './components/drawer.scss';
@use './components/grid.scss';
@use './components/icon-button.scss';
@use './components/inputs/password-input.scss';
@use './components/inputs/radio-group.scss';
@use './components/inputs/search-input.scss';
@use './components/inputs/select-input.scss';
@use './components/inputs/textarea.scss';
@use './components/inputs/text-input.scss';
@use './components/loading.scss';
@use './components/menu.scss';
@use './components/modal.scss';
@use './components/navbar.scss';
@use './components/notification.scss';
@use './components/tabs.scss';
@use './components/table.scss';
@use './components/tag.scss';
@use './components/tooltip.scss';
@use './components/vertical-grid.scss';

// import typeface
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// global styles
html,
body {
  font-size: var(--guwmi-font-size);
  background: var(--guwmi-app-bg);
  color: var(--guwmi-text);

  * {
    font-family: "Roboto", sans-serif;
  }

  button {
    color: var(--guwmi-text);
  }

  h1,
  h2,
  h3 {
    letter-spacing: 0.05em;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  // style for screen reader only content
  .guwmi-sr-only {
    position:absolute;
    left: -10000%;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}