/**
 * Style for the Cards and child components *********************************************************
 **/

// import color variables
@use '../../styles/variables/colors.scss' as colors;

.guwmi-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  > * {
    background: var(--primary-bg);
    border: solid 1px var(--secondary-bg);
    border-radius: 3px;
    box-sizing: border-box;
    
    &:last-of-type {
      margin-right: auto;
    }
  }

  &.two > * {
    flex-basis: calc(50% - 0.5rem);
  }

  &.three > * {
    flex-basis: calc(33.33333% - 0.66666rem);
  }

  &.four > * {
    flex-basis: calc(25% - 0.75rem);
  }

  &.five > * {
    flex-basis: calc(20% - 0.8rem);
  }

  &.six > * {
    flex-basis: calc(15% - 0.85rem);
  }
}