/**
 * Color variables for for use in the library *******************************************************
 **/

:root {
  --text: #161616;
  --text-contrast: white;
  --app-bg: white;
  --primary-bg: #f4f4f4;
  --secondary-bg: #e0e0e0;
  --tertiary-bg: #a8a8a8;
  --high-contrast-bg: #393939;
  --primary: #1565c0;
  --primary-alt: #1876c8;
  --secondary: #8434ca;
  --secondary-alt: #9d4edd;
  --white: #fff;
  --black: #000;
  --alert-red: #da1e28;
  --alert-red-alt: #c2141d;
  --alert-green: #24a148;
  --alert-orange: #ff832b;
  --alert-yellow: #f1c21b;
  // --gray-10: #f4f4f4;
  // --gray-20: #e0e0e0;
  // --gray-30: #c6c6c6;
  // --gray-40: #a8a8a8;
  // --gray-50: #8d8d8d;
  // --gray-60: #6f6f6f;
  // --gray-70: #525252;
  // --gray-80: #393939;
  // --gray-90: #262626;
  // --gray-100: #161616;
}

@media (prefers-color-scheme: dark) {

  :root {
    --text: #f4f4f4;
    --text-contrast: #161616;
    --app-bg: #262626;
    --primary-bg: #393939;
    --secondary-bg: #525252;
    --high-contrast-bg: #f4f4f4;
    --tertiary-bg: #6f6f6f;
    --primary: #1876c8;
    --primary-alt: #1565c0;
    --secondary: #9d4edd;
    --secondary-alt: #8434ca;
  }
}