/**
 * Styles for the Tabs component and children *******************************************************
 **/
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --guwmi-text: #161616;
  --guwmi-text-contrast: white;
  --guwmi-app-bg: white;
  --guwmi-primary-bg: #f4f4f4;
  --guwmi-secondary-bg: #e0e0e0;
  --guwmi-tertiary-bg: #a8a8a8;
  --guwmi-high-contrast-bg: #393939;
  --guwmi-primary: #1565c0;
  --guwmi-primary-alt: #1876c8;
  --guwmi-secondary: #8434ca;
  --guwmi-secondary-alt: #9d4edd;
  --guwmi-white: #fff;
  --guwmi-black: #000;
  --guwmi-alert-red: #da1e28;
  --guwmi-alert-red-alt: #c2141d;
  --guwmi-alert-green: #24a148;
  --guwmi-alert-orange: #ff832b;
  --guwmi-alert-yellow: #f1c21b;
  --guwmi-font-size: 16px;
  --guwmi-radius: 3px;
  --guwmi-inner-radius: 2px;
  --guwmi-transition: ease all 0.4s;
  --guwmi-transition-short: ease all 0.15s;
  --guwmi-transition-long: ease all 0.6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --guwmi-text: #f4f4f4;
    --guwmi-text-contrast: #161616;
    --guwmi-app-bg: #262626;
    --guwmi-primary-bg: #393939;
    --guwmi-secondary-bg: #525252;
    --guwmi-high-contrast-bg: #f4f4f4;
    --guwmi-tertiary-bg: #6f6f6f;
    --guwmi-primary: #1876c8;
    --guwmi-primary-alt: #1565c0;
    --guwmi-secondary: #9d4edd;
    --guwmi-secondary-alt: #8434ca;
  }
}
.guwmi-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.guwmi-tabs-container .guwmi-tabs {
  position: relative;
  display: flex;
  gap: 0.25rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  padding: 0.25rem;
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tabs-slider {
  position: absolute;
  height: calc(100% - 0.5rem);
  background: var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-inner-radius);
  transition: var(--guwmi-transition);
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tab {
  position: relative;
  z-index: 1;
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.guwmi-tabs-container .guwmi-tab-panels {
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  transition: var(--guwmi-transition);
}
.guwmi-tabs-container .guwmi-tab-panels .guwmi-tab-panel {
  padding: 1rem;
}
