/**
 * Global file for global styles and pulling all component files together ****************************
 **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --guwmi-text: #f4f4f4;
  --guwmi-text-contrast: #161616;
  --guwmi-app-bg: #262626;
  --guwmi-primary-bg: #393939;
  --guwmi-secondary-bg: #525252;
  --guwmi-tertiary-bg: #6f6f6f;
  --guwmi-high-contrast-bg: #f4f4f4;
  --guwmi-primary: #1876c8;
  --guwmi-primary-alt: #1565c0;
  --guwmi-secondary: #9d4edd;
  --guwmi-secondary-alt: #8434ca;
  --guwmi-white: #fff;
  --guwmi-black: #000;
  --guwmi-alert-red: #da1e28;
  --guwmi-alert-red-alt: #c2141d;
  --guwmi-alert-green: #24a148;
  --guwmi-alert-orange: #ff832b;
  --guwmi-alert-yellow: #f1c21b;
  --guwmi-alert-blue: #1876c8;
  --guwmi-link: #1e95fc;
  --guwmi-font-size: 16px;
  --guwmi-radius: 3px;
  --guwmi-inner-radius: 2px;
  --guwmi-transition: ease all 0.4s;
  --guwmi-transition-short: ease all 0.15s;
  --guwmi-transition-long: ease all 0.6s;
}

@media (prefers-color-scheme: light) {
  :root {
    --guwmi-text: #161616;
    --guwmi-text-contrast: white;
    --guwmi-app-bg: #f9f9f9;
    --guwmi-primary-bg: #f4f4f4;
    --guwmi-secondary-bg: #e0e0e0;
    --guwmi-tertiary-bg: #a8a8a8;
    --guwmi-high-contrast-bg: #393939;
    --guwmi-primary: #1565c0;
    --guwmi-primary-alt: #1876c8;
    --guwmi-secondary: #8434ca;
    --guwmi-secondary-alt: #9d4edd;
    --guwmi-link: #1565c0;
  }
}
/**
 * Styles for the Accordion component and children **************************************************
 **/
.guwmi-accordion-container {
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item:nth-of-type(1) > button {
  border-top: 0;
}
.guwmi-accordion-container .guwmi-accordion-item > button {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  background: var(--guwmi-primary-bg);
  border-top: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-accordion-container .guwmi-accordion-item > button.active svg {
  transform: rotate(90deg);
}
.guwmi-accordion-container .guwmi-accordion-item > button svg {
  margin-left: auto;
  transition: var(--guwmi-transition-short);
}
.guwmi-accordion-container .guwmi-accordion-item > section {
  transition: var(--guwmi-transition);
}
.guwmi-accordion-container .guwmi-accordion-item > section .guwmi-accordion-panel-content {
  padding: 1rem;
}

/**
 * Styles for the Breadcrumbs component *************************************************************
 **/
.guwmi-breadcrumbs.has-background {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: var(--guwmi-radius);
}
.guwmi-breadcrumbs ol {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.66rem;
  margin: 0;
  padding: 0;
}
.guwmi-breadcrumbs ol li {
  display: flex;
  align-items: center;
  gap: 0.66rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.guwmi-breadcrumbs ol li a,
.guwmi-breadcrumbs ol li a:visited,
.guwmi-breadcrumbs ol li button {
  display: block;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: var(--guwmi-link);
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.5;
}
.guwmi-breadcrumbs ol li a.guwmi-breadcrumb-current,
.guwmi-breadcrumbs ol li a:visited.guwmi-breadcrumb-current,
.guwmi-breadcrumbs ol li button.guwmi-breadcrumb-current {
  color: var(--guwmi-text);
  text-decoration: none;
  cursor: default;
}
.guwmi-breadcrumbs ol li a.disabled, .guwmi-breadcrumbs ol li a:disabled,
.guwmi-breadcrumbs ol li a:visited.disabled,
.guwmi-breadcrumbs ol li a:visited:disabled,
.guwmi-breadcrumbs ol li button.disabled,
.guwmi-breadcrumbs ol li button:disabled {
  color: var(--guwmi-text);
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}
.guwmi-breadcrumbs ol li a:focus-visible,
.guwmi-breadcrumbs ol li a:visited:focus-visible,
.guwmi-breadcrumbs ol li button:focus-visible {
  box-shadow: 0 0 0 2px var(--guwmi-white), 0 0 0 4px var(--guwmi-primary);
}

@media (prefers-color-scheme: light) {
  .guwmi-breadcrumbs.has-background {
    background: rgba(0, 0, 0, 0.05);
  }
}
/**
 * Styles for the Button component ******************************************************************
 **/
.guwmi-btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px rgba(0, 0, 0, 0);
  transition: var(--guwmi-transition);
  color: white;
  background: black;
  text-decoration: none;
}
.guwmi-btn:disabled, .guwmi-btn.disabled {
  cursor: not-allowed;
  background-color: var(--guwmi-primary-bg) !important;
  border-color: var(--guwmi-primary-bg) !important;
  color: var(--guwmi-tertiary-bg) !important;
}
.guwmi-btn.sm {
  padding: 0.25rem 0.67rem;
  font-size: 0.9rem;
}
.guwmi-btn.md {
  padding: 0.5rem 1.25rem;
}
.guwmi-btn.lg {
  padding: 0.65rem 2rem;
  font-size: 1.1rem;
}
.guwmi-btn.primary {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
}
.guwmi-btn.primary.active.fill, .guwmi-btn.primary:hover.fill {
  background: var(--guwmi-primary-alt);
  border-color: var(--guwmi-primary-alt);
}
.guwmi-btn.primary.active.outline, .guwmi-btn.primary:hover.outline {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
  color: white;
}
.guwmi-btn.primary.outline {
  color: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
}
.guwmi-btn.primary.ghost {
  color: var(--guwmi-primary);
}
.guwmi-btn.secondary {
  background: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
}
.guwmi-btn.secondary.active.fill, .guwmi-btn.secondary:hover.fill {
  background: var(--guwmi-secondary-alt);
  border-color: var(--guwmi-secondary-alt);
}
.guwmi-btn.secondary.active.outline, .guwmi-btn.secondary:hover.outline {
  background: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
  color: white;
}
.guwmi-btn.secondary.outline {
  color: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
}
.guwmi-btn.secondary.ghost {
  color: var(--guwmi-secondary);
}
.guwmi-btn.danger {
  background: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
}
.guwmi-btn.danger.active.fill, .guwmi-btn.danger:hover.fill {
  background: var(--guwmi-alert-red-alt);
  border-color: var(--guwmi-alert-red-alt);
}
.guwmi-btn.danger.active.outline, .guwmi-btn.danger:hover.outline {
  background: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
  color: white;
}
.guwmi-btn.danger.outline {
  color: var(--guwmi-alert-red);
  border-color: var(--guwmi-alert-red);
}
.guwmi-btn.danger.ghost {
  color: var(--guwmi-alert-red);
}
.guwmi-btn.neutral {
  background: var(--guwmi-secondary-bg);
  border-color: var(--guwmi-secondary-bg);
  color: var(--guwmi-text);
}
.guwmi-btn.neutral.active, .guwmi-btn.neutral:hover {
  color: white;
}
.guwmi-btn.neutral.active.fill, .guwmi-btn.neutral:hover.fill {
  background: var(--guwmi-primary-alt);
  border-color: var(--guwmi-primary-alt);
}
.guwmi-btn.neutral.active.outline, .guwmi-btn.neutral:hover.outline {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
  color: white;
}
.guwmi-btn.neutral.outline {
  color: var(--guwmi-text);
  border-color: var(--guwmi-text);
}
.guwmi-btn.neutral.ghost {
  color: var(--guwmi-text);
}
.guwmi-btn.outline {
  background: rgba(0, 0, 0, 0.1);
  border-color: white;
}
.guwmi-btn.ghost {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0);
}
.guwmi-btn.ghost.active, .guwmi-btn.ghost:hover {
  background: rgba(0, 0, 0, 0.15);
}
.guwmi-btn.round {
  border-radius: var(--guwmi-radius);
}
.guwmi-btn.pill {
  border-radius: 50px;
}

@media (prefers-color-scheme: light) {
  .guwmi-btn.outline {
    background: none;
  }
  .guwmi-btn.ghost {
    background: none;
  }
  .guwmi-btn.ghost.active, .guwmi-btn.ghost:hover {
    background: var(--guwmi-primary-bg);
  }
}
/**
 * ButtonGroup component styles *********************************************************************
 **/
.guwmi-btn-group {
  display: flex;
}
.guwmi-btn-group .guwmi-btn {
  border-radius: 0;
}
.guwmi-btn-group:not(.outline) .guwmi-btn {
  border-right-color: rgba(0, 0, 0, 0.15);
}
.guwmi-btn-group:not(.outline) .guwmi-btn:last-child {
  border-right-color: rgba(0, 0, 0, 0);
}
.guwmi-btn-group.round .guwmi-btn:first-child {
  border-top-left-radius: var(--guwmi-radius);
  border-bottom-left-radius: var(--guwmi-radius);
}
.guwmi-btn-group.round .guwmi-btn:last-child {
  border-top-right-radius: var(--guwmi-radius);
  border-bottom-right-radius: var(--guwmi-radius);
}
.guwmi-btn-group.pill .guwmi-btn:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.guwmi-btn-group.pill .guwmi-btn:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.guwmi-btn-group.outline .guwmi-btn {
  border-right-width: 0;
}
.guwmi-btn-group.outline .guwmi-btn:last-child {
  border-right-width: 2px;
}

/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-card {
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.guwmi-card .guwmi-card-image {
  width: 100%;
  object-fit: cover;
}
.guwmi-card .guwmi-card-section {
  padding: 1rem;
  border-top: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-card .guwmi-card-section:first-of-type {
  border-top: 0;
}
.guwmi-card .guwmi-card-section.guwmi-card-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.guwmi-card .guwmi-card-section.guwmi-card-title h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}
.guwmi-card .guwmi-card-section.guwmi-card-title h3 {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
  opacity: 0.65;
  letter-spacing: unset;
}

@media (prefers-color-scheme: light) {
  .guwmi-card {
    background: var(--guwmi-white);
  }
}
/**
 * Styles for the container component **************************************************************
 **/
.guwmi-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.guwmi-container .guwmi-container-header {
  border-bottom: solid 1px var(--guwmi-primary-bg);
}
.guwmi-container > div:not(.guwmi-container-header) {
  display: flex;
}
.guwmi-container > div:not(.guwmi-container-header) .guwmi-container-sidebar {
  width: 25%;
  min-width: 200px;
  max-width: 325px;
  border-right: solid 1px var(--guwmi-primary-bg);
}
.guwmi-container > div:not(.guwmi-container-header) .guwmi-container-content {
  flex-grow: 1;
  flex-basis: 75%;
}

@media (prefers-color-scheme: light) {
  .guwmi-container-header,
  .guwmi-container-sidebar {
    background: var(--guwmi-white);
  }
}
/**
 * Styles for the Drawer component ******************************************************************
 **/
.guwmi-drawer-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  backdrop-filter: blur(0);
  z-index: 99999;
  transition: var(--guwmi-transition-short);
  display: flex;
}
.guwmi-drawer-overlay.open {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
}
.guwmi-drawer-overlay.open .guwmi-drawer.left,
.guwmi-drawer-overlay.open .guwmi-drawer.right {
  transform: translateX(0);
}
.guwmi-drawer-overlay .guwmi-drawer {
  position: relative;
  display: block;
  background: var(--guwmi-text-contrast);
  color: var(--guwmi-text);
  padding: 1rem;
  transition: var(--guwmi-transition);
  min-width: 300px;
}
.guwmi-drawer-overlay .guwmi-drawer.left {
  border-right: solid 1px var(--guwmi-primary-bg);
  transform: translateX(-100%);
  margin-right: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.left .guwmi-drawer-close-button {
  right: -0.25rem;
  transform: translateX(100%);
}
.guwmi-drawer-overlay .guwmi-drawer.right {
  border-left: solid 1px var(--guwmi-primary-bg);
  transform: translateX(100%);
  margin-left: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.right .guwmi-drawer-close-button {
  left: -0.25rem;
  transform: translateX(-100%);
}
.guwmi-drawer-overlay .guwmi-drawer .guwmi-drawer-close-button {
  position: absolute;
  top: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .guwmi-drawer-close-button {
    color: var(--guwmi-text-contrast);
  }
}
/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.guwmi-grid > * {
  box-sizing: border-box;
}
.guwmi-grid.no-wrap {
  flex-wrap: nowrap;
}
.guwmi-grid.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.guwmi-grid.reverse.right {
  justify-content: flex-start;
}
.guwmi-grid.right {
  justify-content: flex-end;
}
.guwmi-grid.center {
  justify-content: center;
}
.guwmi-grid.auto > * {
  flex-basis: auto;
}
.guwmi-grid.two > * {
  flex-basis: calc(50% - 0.5rem);
}
.guwmi-grid.three > * {
  flex-basis: calc(33.33333% - 0.66666rem);
}
.guwmi-grid.four > * {
  flex-basis: calc(25% - 0.75rem);
}
.guwmi-grid.five > * {
  flex-basis: calc(20% - 0.8rem);
}
.guwmi-grid.six > * {
  flex-basis: calc(15% - 0.85rem);
}

/**
 * Styles for the Icon Button component ******************************************************************
 **/
.guwmi-btn.icon.sm {
  padding: 0.25rem;
  font-size: 0.9rem;
}
.guwmi-btn.icon.md {
  padding: 0.5rem;
}
.guwmi-btn.icon.lg {
  padding: 0.65rem;
  font-size: 1.1rem;
}
.guwmi-btn.icon.circle {
  border-radius: 50%;
}

/**
 * Styles for the InfoBlock component **************************************************************
 **/
.guwmi-info-block {
  position: relative;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  border: solid 1px var(--guwmi-alert-blue);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  gap: 1rem;
}
.guwmi-info-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--guwmi-alert-blue);
  opacity: 0.1;
}
.guwmi-info-block.danger {
  border-color: var(--guwmi-alert-red);
}
.guwmi-info-block.danger::before {
  background-color: var(--guwmi-alert-red);
}
.guwmi-info-block.warning {
  border-color: var(--guwmi-alert-yellow);
}
.guwmi-info-block.warning::before {
  background-color: var(--guwmi-alert-yellow);
}
.guwmi-info-block.success {
  border-color: var(--guwmi-alert-green);
}
.guwmi-info-block.success::before {
  background-color: var(--guwmi-alert-green);
}
.guwmi-info-block > div {
  position: relative;
  z-index: 1;
}
.guwmi-info-block .guwmi-info-block-label {
  margin: 0.1rem 0;
  font-size: 1rem;
}

/**
 * Styles for the checkbox input component **********************************************************
 **/
.guwmi-checkbox-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.guwmi-checkbox-input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.guwmi-checkbox-input .guwmi-checkbox-container {
  display: block;
  position: relative;
  height: 1.33rem;
  width: 1.33rem;
  cursor: pointer;
}
.guwmi-checkbox-input .guwmi-checkbox-container .guwmi-checkmark {
  position: absolute;
  display: block;
  height: 1.33rem;
  width: 1.33rem;
  background: none;
  border-radius: var(--guwmi-inner-radius);
  border: solid 1px var(--guwmi-text);
  pointer-events: none;
  cursor: pointer;
}
.guwmi-checkbox-input .guwmi-checkbox-container .guwmi-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.4rem;
  top: 0.15rem;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
}
.guwmi-checkbox-input .guwmi-checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 1.33rem;
  width: 1.33rem;
  cursor: pointer;
}
.guwmi-checkbox-input .guwmi-checkbox-container input:checked ~ .guwmi-checkmark {
  background-color: var(--guwmi-primary);
  border-color: none;
}
.guwmi-checkbox-input .guwmi-checkbox-container input:checked ~ .guwmi-checkmark:after {
  display: block;
}
.guwmi-checkbox-input .guwmi-checkbox-container input:focus-visible ~ .guwmi-checkmark {
  box-shadow: inset 0 0 0 2px var(--guwmi-white), inset 0 0 0 4px var(--guwmi-primary);
}
.guwmi-checkbox-input label {
  cursor: pointer;
}

/**
 * Styles for the password input component ************************************************************
 **/
.guwmi-password-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-password-input label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-password-input .guwmi-password-container {
  position: relative;
}
.guwmi-password-input .guwmi-password-container input {
  appearance: none;
  width: calc(100% - 1.32rem);
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-bottom-color: var(--guwmi-text);
  border-top-right-radius: var(--guwmi-radius);
  border-top-left-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
}
.guwmi-password-input .guwmi-password-container input::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-password-input .guwmi-password-container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  color: var(--guwmi-text);
  cursor: pointer;
}
.guwmi-password-input.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-password-input.error input {
  border-bottom-color: var(--guwmi-alert-red);
}
.guwmi-password-input.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-password-input.disabled {
  opacity: 0.5;
}
.guwmi-password-input.disabled input {
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  .guwmi-password-input .guwmi-password-container input {
    border-bottom-color: var(--guwmi-tertiary-bg);
  }
}
/**
 * Styles for the radio group component ************************************************************
 **/
.guwmi-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-radio-group fieldset {
  appearance: none;
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  padding: 1rem;
}
.guwmi-radio-group fieldset legend {
  padding: 0 1rem;
  font-size: 0.85rem;
}
.guwmi-radio-group fieldset .guwmi-radio-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.guwmi-radio-group fieldset .guwmi-radio-container.row {
  flex-direction: row;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div {
  display: flex;
  gap: 1rem;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div * {
  cursor: pointer;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div.disabled {
  opacity: 0.5;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div.disabled * {
  cursor: not-allowed;
}
.guwmi-radio-group.error legend {
  color: var(--guwmi-alert-red);
}
.guwmi-radio-group.error fieldset {
  border-color: var(--guwmi-alert-red);
}
.guwmi-radio-group.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-radio-group.disabled {
  opacity: 0.5;
}
.guwmi-radio-group.disabled fieldset {
  cursor: not-allowed;
}

/**
 * Styles for the search input component ************************************************************
 **/
.guwmi-search-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.guwmi-search-input span {
  position: absolute;
  left: 0.66rem;
  top: calc(50% + 0.1rem);
  transform: translateY(-50%);
  color: var(--guwmi-text);
}
.guwmi-search-input input {
  appearance: none;
  flex-grow: 1;
  padding: 0.66rem 0.66rem 0.66rem 2.2rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-tertiary-bg);
  border-radius: var(--guwmi-radius);
  font-size: 0.9rem;
  color: var(--guwmi-text);
}
.guwmi-search-input input::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}

/**
 * Styles for the select input component ************************************************************
 **/
.guwmi-select-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-select-input label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-select-input .guwmi-select-container {
  width: 100%;
  position: relative;
}
.guwmi-select-input .guwmi-select-container select {
  width: 100%;
  appearance: none;
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-text);
  border-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
}
.guwmi-select-input .guwmi-select-container select::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-select-input .guwmi-select-container .guwmi-select-icon {
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.guwmi-select-input.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-select-input.error select {
  border-color: var(--guwmi-alert-red);
}
.guwmi-select-input.error .guwmi-select-error {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-select-input.disabled {
  opacity: 0.5;
}
.guwmi-select-input.disabled input {
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  .guwmi-select-input .guwmi-select-container select {
    border-color: var(--guwmi-tertiary-bg);
  }
}
/**
 * Styles for the textarea input component ************************************************************
 **/
.guwmi-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-textarea label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-textarea textarea {
  appearance: none;
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-bottom-color: var(--guwmi-text);
  border-top-right-radius: var(--guwmi-radius);
  border-top-left-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
  min-height: 5rem;
}
.guwmi-textarea textarea::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-textarea.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-textarea.error textarea {
  border-bottom-color: var(--guwmi-alert-red);
}
.guwmi-textarea.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-textarea.disabled {
  opacity: 0.5;
}
.guwmi-textarea.disabled textarea {
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  .guwmi-textarea textarea {
    border-bottom-color: var(--guwmi-tertiary-bg);
  }
}
/**
 * Styles for the text input component ************************************************************
 **/
.guwmi-text-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-text-input label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-text-input input {
  appearance: none;
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-bottom-color: var(--guwmi-text);
  border-top-right-radius: var(--guwmi-radius);
  border-top-left-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
}
.guwmi-text-input input::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-text-input.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-text-input.error input {
  border-bottom-color: var(--guwmi-alert-red);
}
.guwmi-text-input.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-text-input.disabled {
  opacity: 0.5;
}
.guwmi-text-input.disabled input {
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  .guwmi-text-input input {
    border-bottom-color: var(--guwmi-tertiary-bg);
  }
}
/**
 * Loading component styles *********************************************************************
 **/
.guwmi-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.guwmi-loading-container .guwmi-spinner {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.4rem solid;
  border-color: var(--guwmi-tertiary-bg);
  border-right-color: var(--guwmi-primary);
  animation: guwmi-spinner-animation 1s infinite linear;
}
.guwmi-loading-container.sm .guwmi-spinner {
  width: 1rem;
  height: 1rem;
  border-width: 0.245rem;
}
.guwmi-loading-container.lg .guwmi-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.6rem;
}
.guwmi-loading-container.slow .guwmi-spinner {
  animation: guwmi-spinner-animation 1.33s infinite linear;
}
.guwmi-loading-container.fast .guwmi-spinner {
  animation: guwmi-spinner-animation 0.66s infinite linear;
}
.guwmi-loading-container.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
}
.guwmi-loading-container.inline {
  display: inline-flex;
  height: auto;
}
.guwmi-loading-container.full-screen {
  position: absolute;
  height: 100%;
  width: 100;
  top: 0;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  .guwmi-loading-container .guwmi-spinner {
    border-color: var(--guwmi-secondary-bg);
    border-right-color: var(--guwmi-primary);
  }
  .guwmi-loading-container.overlay .guwmi-spinner {
    border-color: var(--guwmi-high-contrast-bg);
    border-right-color: var(--guwmi-primary);
  }
}
@keyframes guwmi-spinner-animation {
  to {
    transform: rotate(1turn);
  }
}
/**
 * Styles for the Menu and child components ********************************************************
 **/
.guwmi-menu-container {
  position: relative;
}
.guwmi-menu-container.top-right .guwmi-menu-dropdown {
  top: -0.25rem;
  right: 0;
  transform: translateY(-100%);
}
.guwmi-menu-container.top-left .guwmi-menu-dropdown {
  top: -0.25rem;
  left: 0;
  transform: translateY(-100%);
}
.guwmi-menu-container.top-center .guwmi-menu-dropdown {
  top: -0.25rem;
  left: 50%;
  transform: translate(-50%, -100%);
}
.guwmi-menu-container.bottom-right .guwmi-menu-dropdown {
  bottom: -0.25rem;
  right: 0;
  transform: translateY(100%);
}
.guwmi-menu-container.bottom-left .guwmi-menu-dropdown {
  bottom: -0.25rem;
  left: 0;
  transform: translateY(100%);
}
.guwmi-menu-container.bottom-center .guwmi-menu-dropdown {
  bottom: -0.25rem;
  left: 50%;
  transform: translate(-50%, 100%);
}
.guwmi-menu-container .guwmi-menu-dropdown {
  position: absolute;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  padding: 0.25rem;
  border-radius: var(--guwmi-radius);
  opacity: 0;
  transition: var(--guwmi-transition-short);
  z-index: 99999;
}
.guwmi-menu-container .guwmi-menu-dropdown.open {
  opacity: 1;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item .guwmi-menu-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 0;
  background: none;
  padding: 0.5rem 0.75rem;
  border-radius: var(--guwmi-inner-radius);
  cursor: pointer;
  width: 100%;
  transition: var(--guwmi-transition);
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item .guwmi-menu-btn:hover {
  background: var(--guwmi-secondary-bg);
}

/**
 * Styles for the modal component *******************************************************************
 **/
.guwmi-modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  transition: var(--guwmi-transition-short);
}
.guwmi-modal-overlay.open {
  opacity: 1;
}
.guwmi-modal-overlay .guwmi-modal {
  position: relative;
  display: block;
  background: var(--guwmi-text-contrast);
  color: var(--guwmi-text);
  padding: 1rem;
  border: solid 1px var(--guwmi-primary-bg);
  border-radius: var(--guwmi-radius);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.guwmi-modal-overlay .guwmi-modal.sm {
  width: 33%;
}
.guwmi-modal-overlay .guwmi-modal.md {
  width: 50%;
}
.guwmi-modal-overlay .guwmi-modal.lg {
  width: 75%;
}
.guwmi-modal-overlay .guwmi-modal .guwmi-modal-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  background: none;
  border: 0;
  cursor: pointer;
}

/**
 * Styles for the navbar component ******************************************************************
 **/
.guwmi-navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.guwmi-navbar ul .guwmi-navbar-item {
  position: relative;
}
.guwmi-navbar ul .guwmi-navbar-item.active::before {
  position: absolute;
  content: "";
  border-left: solid 4px var(--guwmi-primary);
  height: 100%;
  top: 0;
}
.guwmi-navbar ul .guwmi-navbar-item.active .guwmi-navbar-button {
  background: rgba(0, 0, 0, 0.1);
}
.guwmi-navbar ul .guwmi-navbar-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  transition: var(--guwmi-transition);
}
.guwmi-navbar ul .guwmi-navbar-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.guwmi-navbar ul .guwmi-navbar-button:disabled, .guwmi-navbar ul .guwmi-navbar-button.disabled {
  cursor: not-allowed;
  color: var(--guwmi-tertiary-bg) !important;
}
.guwmi-navbar ul .guwmi-navbar-button svg {
  margin-left: auto;
  transition: var(--guwmi-transition-short);
}
.guwmi-navbar ul .guwmi-navbar-group {
  transition: var(--guwmi-transition);
  overflow: hidden;
}
.guwmi-navbar ul .guwmi-navbar-group.open > .guwmi-navbar-button svg {
  transform: rotate(90deg);
}
.guwmi-navbar ul .guwmi-navbar-group ul {
  background: var(--guwmi-primary-bg);
}
.guwmi-navbar ul .guwmi-navbar-group ul .guwmi-navbar-button {
  padding-left: 1.5rem;
}

/**
 * Styles for the Notification component ***********************************************************
 **/
.guwmi-notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--guwmi-high-contrast-bg);
  color: var(--guwmi-text-contrast);
  padding: 0.75rem;
  border: 0;
  border-left: solid 6px;
  width: auto;
}
.guwmi-notification.error {
  border-color: var(--guwmi-alert-red);
}
.guwmi-notification.error > svg {
  stroke: var(--guwmi-alert-red);
}
.guwmi-notification.warning {
  border-color: var(--guwmi-alert-orange);
}
.guwmi-notification.warning > svg {
  stroke: var(--guwmi-alert-orange);
}
.guwmi-notification.success {
  border-color: var(--guwmi-alert-green);
}
.guwmi-notification.success > svg {
  stroke: var(--guwmi-alert-green);
}
.guwmi-notification.info {
  border-color: var(--guwmi-alert-blue);
}
.guwmi-notification.info > svg {
  stroke: var(--guwmi-alert-blue);
}
.guwmi-notification > button {
  position: absolute;
  right: 0.5rem;
  background: 0;
  border: 0;
  color: var(--guwmi-text-contrast);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.guwmi-notification > svg {
  margin-right: 0.5rem;
}
.guwmi-notification h2,
.guwmi-notification p {
  font-size: 0.9rem;
  margin: 0;
}

/**
 * Style for the pagination component ***************************************************************
 **/
.guwmi-pagination {
  display: flex;
  width: 100%;
  border-top: solid 1px var(--guwmi-secondary-bg);
  padding: 3px 0 0;
  gap: 0.5rem;
}
.guwmi-pagination .guwmi-select-input {
  flex-direction: row;
  align-items: center;
}
.guwmi-pagination .guwmi-select-input label {
  text-wrap: nowrap;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container {
  flex-grow: 0;
  width: auto;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container select {
  width: auto;
  border: 0;
  background: none;
  padding-right: 2rem;
}
.guwmi-pagination .guwmi-select-input .guwmi-select-container .guwmi-select-icon {
  right: 0.5rem;
}
.guwmi-pagination .guwmi-pagination-page-size-contaiiner {
  flex-shrink: 1;
}
.guwmi-pagination .guwmi-pagination-current-info {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  border-right: solid 2px var(--guwmi-secondary-bg);
  border-left: solid 2px var(--guwmi-secondary-bg);
  padding-left: 1rem;
}
.guwmi-pagination .guwmi-pagination-current-info p {
  font-size: 0.9rem;
  margin: 0;
}
.guwmi-pagination .guwmi-pagination-current-info p span {
  margin: 0 0.25rem;
}
.guwmi-pagination .guwmi-pagination-navigation {
  flex-shrink: 1;
  display: flex;
  gap: 2px;
}
.guwmi-pagination .guwmi-pagination-navigation .guwmi-select-input {
  flex-direction: row-reverse;
  margin-right: 1rem;
}
.guwmi-pagination .guwmi-pagination-navigation button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--guwmi-primary-bg);
  border: 0;
  padding: 0 0.66rem;
  cursor: pointer;
}
.guwmi-pagination .guwmi-pagination-navigation button:hover {
  background: var(--guwmi-secondary-bg);
}
.guwmi-pagination .guwmi-pagination-navigation button:disabled {
  background: none;
  opacity: 0.33;
  cursor: not-allowed;
}

/**
 * Styles for the Tabs component and children *******************************************************
 **/
.guwmi-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.guwmi-tabs-container .guwmi-tabs {
  position: relative;
  display: flex;
  gap: 0.25rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  padding: 0.25rem;
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tabs-slider {
  position: absolute;
  height: calc(100% - 0.5rem);
  background: var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-inner-radius);
  transition: var(--guwmi-transition);
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tab {
  position: relative;
  z-index: 1;
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.guwmi-tabs-container .guwmi-tab-panels {
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  overflow: hidden;
  transition: var(--guwmi-transition);
}
.guwmi-tabs-container .guwmi-tab-panels .guwmi-tab-panel {
  padding: 1rem;
}

/**
 * Style for the table component ********************************************************************
 **/
.guwmi-table-container {
  background: var(--guwmi-primary-bg);
  padding: 0.25rem 1rem;
  border-radius: var(--guwmi-radius);
  border: solid 1px var(--guwmi-secondary-bg);
}
.guwmi-table-container .guwmi-table-header {
  background: var(--guwmi-secondary-bg);
  padding: 1.25rem 1rem;
  width: 100%;
  transform: translate(-1rem, -0.25rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-table-container .guwmi-table-header h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}
.guwmi-table-container .guwmi-table-header p {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
  opacity: 0.75;
  letter-spacing: unset;
}
.guwmi-table-container.condensed th,
.guwmi-table-container.condensed td {
  padding: 0.66rem;
}
.guwmi-table-container .guwmi-table-search {
  margin: 1rem 0 0.5rem;
  width: 100%;
}
.guwmi-table-container .guwmi-table-search .guwmi-search-input input {
  background: var(--guwmi-secondary-bg);
}
.guwmi-table-container .guwmi-table-search .guwmi-search-input input::placeholder {
  opacity: 0.65;
}
.guwmi-table-container table {
  width: 100%;
}
.guwmi-table-container table th,
.guwmi-table-container table td {
  text-align: left;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-bottom: solid 1px var(--guwmi-secondary-bg);
  font-size: 0.9rem;
}
.guwmi-table-container table thead th {
  border-color: var(--guwmi-tertiary-bg);
  font-size: 1rem;
}
.guwmi-table-container table tbody tr:last-of-type td {
  border: 0;
}
.guwmi-table-container .guwmi-pagination {
  width: calc(100% - 1.25rem);
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  background: var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  margin-bottom: 1rem;
}
.guwmi-table-container .guwmi-pagination .guwmi-pagination-current-info {
  border-right: solid 2px var(--guwmi-tertiary-bg);
  border-left: solid 2px var(--guwmi-tertiary-bg);
}
.guwmi-table-container .guwmi-pagination .guwmi-pagination-navigation button:hover {
  background: var(--guwmi-app-bg);
}

@media (prefers-color-scheme: light) {
  .guwmi-table-container .guwmi-table-search .guwmi-search-input input {
    background: var(--guwmi-white);
    border-color: var(--guwmi-secondary-bg);
  }
  .guwmi-table-container .guwmi-table-search .guwmi-search-input input::placeholder {
    opacity: 0.33;
  }
}
/**
 * Styles for the tag component *********************************************************************
 **/
.guwmi-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 50px;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  background: var(--guwmi-secondary-bg);
  border-color: var(--guwmi-secondary-bg);
  color: var(--guwmi-text);
}
.guwmi-tag.secondary {
  background: var(--guwmi-secondary);
  border-color: var(--guwmi-secondary);
  color: white;
}
.guwmi-tag.primary {
  background: var(--guwmi-primary);
  border-color: var(--guwmi-primary);
  color: white;
}
.guwmi-tag.outline {
  background: none;
  border-color: var(--guwmi-text);
}
.guwmi-tag.sm {
  font-size: 0.8rem;
  padding: 0.133rem 0.5rem;
}
.guwmi-tag.lg {
  font-size: 1rem;
  padding: 0.33rem 1rem;
}

button.guwmi-tag,
a.guwmi-tag {
  cursor: pointer;
}
button.guwmi-tag:disabled, button.guwmi-tag.disabled,
a.guwmi-tag:disabled,
a.guwmi-tag.disabled {
  cursor: not-allowed;
  background-color: var(--guwmi-primary-bg) !important;
  border-color: var(--guwmi-primary-bg) !important;
  color: var(--guwmi-tertiary-bg) !important;
}

/**
 * Styles for the Toggle input component ****************************************************
 **/
/**
 * Styles for the tooltip component ****************************************************************
 **/
.guwmi-tooltip {
  position: relative;
  display: inline-flex;
}
.guwmi-tooltip:hover span {
  visibility: visible;
}
.guwmi-tooltip.top span {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
}
.guwmi-tooltip.top span::after {
  top: auto;
  bottom: -10px;
  left: 50%;
  transform: rotate(0deg);
}
.guwmi-tooltip.bottom span {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
}
.guwmi-tooltip.right span {
  top: 50%;
  left: auto;
  right: 0;
  transform: translate(calc(100% + 10px), -50%);
}
.guwmi-tooltip.right span::after {
  top: calc(50% - 5px);
  bottom: auto;
  left: -4px;
  transform: rotate(90deg);
}
.guwmi-tooltip.left span {
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 10px), -50%);
}
.guwmi-tooltip.left span::after {
  top: calc(50% - 5px);
  left: auto;
  bottom: auto;
  right: -9px;
  transform: rotate(-90deg);
}
.guwmi-tooltip span {
  position: absolute;
  visibility: hidden;
  transition: var(--guwmi-transition);
  background: var(--guwmi-high-contrast-bg);
  color: var(--guwmi-text-contrast);
  width: auto;
  padding: 0.25rem 0.5rem;
  border-radius: var(--guwmi-inner-radius);
  font-size: 0.85rem;
  text-wrap: nowrap;
}
.guwmi-tooltip span::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--guwmi-high-contrast-bg) transparent transparent transparent;
  transform: rotate(180deg);
}

/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-vertical-grid {
  display: flex;
  flex-direction: column;
}
.guwmi-vertical-grid.space-1 {
  gap: 1rem;
}
.guwmi-vertical-grid.space-2 {
  gap: 2rem;
}
.guwmi-vertical-grid.space-3 {
  gap: 3rem;
}
.guwmi-vertical-grid.space-4 {
  gap: 4rem;
}
.guwmi-vertical-grid.space-5 {
  gap: 5rem;
}
.guwmi-vertical-grid.space-6 {
  gap: 6rem;
}
.guwmi-vertical-grid.pad-1 {
  padding: 1rem;
}
.guwmi-vertical-grid.pad-2 {
  padding: 2rem;
}
.guwmi-vertical-grid.pad-3 {
  padding: 3rem;
}
.guwmi-vertical-grid.pad-4 {
  padding: 4rem;
}
.guwmi-vertical-grid.pad-5 {
  padding: 5rem;
}
.guwmi-vertical-grid.pad-6 {
  padding: 6rem;
}
.guwmi-vertical-grid > * {
  box-sizing: border-box;
  width: 100%;
}

html,
body {
  font-size: var(--guwmi-font-size);
  background: var(--guwmi-app-bg);
  color: var(--guwmi-text);
}
html *,
body * {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
html button,
body button {
  background: var(--guwmi-primary);
  color: var(--guwmi-text);
  border-color: var(--guwmi-primary);
}
html p,
body p {
  font-size: 1rem;
  line-height: 1.5;
}
html .guwmi-sr-only,
body .guwmi-sr-only {
  position: absolute;
  left: -10000%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--guwmi-white), inset 0 0 0 4px var(--guwmi-primary);
}

a:not(.guwmi-btn):focus-visible {
  box-shadow: 0 0 0 2px var(--guwmi-white), 0 0 0 4px var(--guwmi-primary);
}
