/**
 * Styles for the checkbox input component **********************************************************
 **/

.guwmi-checkbox-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.15rem;

  * {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .guwmi-checkbox-container {
    position: relative;
    height: 1.15rem;
    width: 1.15rem;
    border: solid 1px var(--guwmi-text);
    border-radius: var(--guwmi-radius);
    transition: var(--guwmi-transition-short);

    &:has(> input:checked) {
      background: var(--guwmi-primary);

      .guwmi-checkmark {
        opacity: 1;
      }
    }
  
    .guwmi-checkmark {
      position: absolute;
      top: 0.05rem;
      left: 0;
      opacity: 0;
      transition: var(--guwmi-transition-short);
      pointer-events: none;
    }
  
    input {
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }

  label {
    font-size: 0.9rem;
    line-height: 1;
  }
}