/**
 * Styles for the checkbox input component **********************************************************
 **/

.guwmi-checkbox-input {
  display: flex;
  align-items: center;
  gap: 1rem;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .guwmi-checkbox-container {
    display: block;
    position: relative;
    height: 1.33rem;
    width: 1.33rem;
    cursor: pointer;
  
    .guwmi-checkmark {
      position: absolute;
      display: block;
      height: 1.33rem;
      width: 1.33rem;
      background: none;
      border-radius: var(--guwmi-inner-radius);
      border: solid 1px var(--guwmi-text);
      pointer-events: none;
      cursor: pointer;
  
      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 0.4rem;
        top: 0.15rem;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        pointer-events: none;
      }
    }
  
    input {
      position: absolute;
      opacity: 0;
      height: 1.33rem;
      width: 1.33rem;
      cursor: pointer;
  
      &:checked ~ .guwmi-checkmark {
        background-color: var(--guwmi-primary);
        border-color: none;
  
        &:after {
          display: block;
        }
      }

      &:focus-visible~ .guwmi-checkmark {
        box-shadow: inset 0 0 0 2px var(--guwmi-white), inset 0 0 0 4px var(--guwmi-primary);
      }
    }
  }

  label {
    cursor: pointer;
  }
}