/**
 * Styles for the search input component ************************************************************
 **/

.guwmi-search-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  span {
    position: absolute;
    left: 0.66rem;
    top: calc(50% + 0.1rem);
    transform: translateY(-50%);
    color: var(--guwmi-text);
  }

  input {
    appearance: none;
    flex-grow: 1;
    padding: 0.66rem 0.66rem 0.66rem 2.2rem;
    background: var(--guwmi-primary-bg);
    border: solid 1px var(--guwmi-tertiary-bg);
    border-radius: var(--guwmi-radius);
    font-size: 0.9rem;
    color: var(--guwmi-text);

    &::placeholder {
      color: var(--guwmi-text);
      opacity: 0.33;
    }
  }
}