/**
 * Styles for the search input component ************************************************************
 **/

// inport colors
@use '../../../styles/variables.scss' ;

.guwmi-search-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  span {
    position: absolute;
    left: 0.5rem;
    top: calc(50% + 0.1rem);
    transform: translateY(-50%);
    color: var(--guwmi-text);
  }

  input {
    flex-grow: 1;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background: var(--guwmi-secondary-bg);
    border: solid 1px var(--guwmi-tertiary-bg);
    border-radius: var(--guwmi-radius);
    font-size: 0.9rem;
    color: var(--guwmi-text);

    &::placeholder {
      color: var(--guwmi-text);
      opacity: 1;
    }
  }
}