/**
 * Styles for the select input component ************************************************************
 **/

 .guwmi-select-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    position: relative;
    padding-left: 0.66rem;
    font-size: 0.85rem;

    &.guwmi-skeleton {
      width: 43%;
    }
  }

  .guwmi-select-container {
    width: 100%;
    position: relative;

    select {
      width: 100%;
      appearance: none;
      padding: 0.66rem;
      background: var(--guwmi-primary-bg);
      border: solid 1px var(--guwmi-text);
      border-radius: var(--guwmi-radius);
      font-size: 1rem;
      color: var(--guwmi-text);
  
      &::placeholder {
        color: var(--guwmi-text);
        opacity: 0.33;
      }
    }
  
    .guwmi-select-icon {
      position: absolute;
      top: 0;
      right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      pointer-events: none;
    }
  }

  &.error {

    label {
      color: var(--guwmi-alert-red);
    }

    select {
      border-color: var(--guwmi-alert-red);
    }

    .guwmi-select-error {
      padding-left: 0.66rem;
      font-size: 0.85rem;
      color: var(--guwmi-alert-red);
    }
  }

  &.disabled {
    opacity: 0.5;

    input {
      cursor: not-allowed;
    }
  }
}

@media (prefers-color-scheme: light) {

  .guwmi-select-input .guwmi-select-container {

    select {
      border-color: var(--guwmi-tertiary-bg);
    }
  }
}