/**
 * Styles for the textarea input component ************************************************************
 **/

 .guwmi-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    position: relative;
    padding-left: 0.66rem;
    font-size: 0.85rem;

    &.guwmi-skeleton {
      width: 45%;
      max-width: 150px;
    }
  }

  .guwmi-textarea-container {
    position: relative;
    display: block;
    border-top-right-radius: var(--guwmi-radius);
    border-top-left-radius: var(--guwmi-radius);
    overflow: hidden;

    textarea {
      appearance: none;
      padding: 0.66rem;
      background: var(--guwmi-primary-bg);
      border: solid 1px var(--guwmi-secondary-bg);
      border-bottom-color: var(--guwmi-text);
      border-top-right-radius: var(--guwmi-radius);
      border-top-left-radius: var(--guwmi-radius);
      font-size: 1rem;
      color: var(--guwmi-text);
      min-height: 5rem;
      width: calc(100% - 1.32rem);
  
      &::placeholder {
        color: var(--guwmi-text);
        opacity: 0.33;
      }
    }
  }

  &.error {

    label {
      color: var(--guwmi-alert-red);
    }

    textarea {
      border-bottom-color: var(--guwmi-alert-red);
    }

    span {
      padding-left: 0.66rem;
      font-size: 0.85rem;
      color: var(--guwmi-alert-red);
    }
  }

  &.disabled {
    opacity: 0.5;

    textarea {
      cursor: not-allowed;
    }
  }
}

@media (prefers-color-scheme: light) {

  .guwmi-textarea {

    textarea {
      border-bottom-color: var(--guwmi-tertiary-bg);
    }
  }
}