/**
 * Styles for the checkbox input component **********************************************************
 **/
.guwmi-checkbox-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.15rem;
}
.guwmi-checkbox-input * {
  cursor: pointer;
}
.guwmi-checkbox-input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.guwmi-checkbox-input .guwmi-checkbox-container {
  position: relative;
  height: 1.15rem;
  width: 1.15rem;
  border: solid 1px var(--guwmi-text);
  border-radius: var(--guwmi-radius);
  transition: var(--guwmi-transition-short);
}
.guwmi-checkbox-input .guwmi-checkbox-container:has(> input:checked) {
  background: var(--guwmi-primary);
}
.guwmi-checkbox-input .guwmi-checkbox-container:has(> input:checked) .guwmi-checkmark {
  opacity: 1;
}
.guwmi-checkbox-input .guwmi-checkbox-container .guwmi-checkmark {
  position: absolute;
  top: 0.05rem;
  left: 0;
  opacity: 0;
  transition: var(--guwmi-transition-short);
  pointer-events: none;
}
.guwmi-checkbox-input .guwmi-checkbox-container input {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.guwmi-checkbox-input label {
  font-size: 0.9rem;
  line-height: 1;
}
