/**
 * Styles for the password input component ************************************************************
 **/
.guwmi-password-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-password-input label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-password-input .guwmi-password-container {
  position: relative;
}
.guwmi-password-input .guwmi-password-container input {
  appearance: none;
  width: calc(100% - 1.32rem);
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-bottom-width: 2px;
  border-bottom-color: var(--guwmi-text);
  border-top-right-radius: var(--guwmi-radius);
  border-top-left-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
}
.guwmi-password-input .guwmi-password-container input::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-password-input .guwmi-password-container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  color: var(--guwmi-text);
  cursor: pointer;
}
.guwmi-password-input.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-password-input.error input {
  border-bottom-color: var(--guwmi-alert-red);
}
.guwmi-password-input.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-password-input.disabled {
  opacity: 0.5;
}
.guwmi-password-input.disabled input {
  cursor: not-allowed;
}
