/**
 * Styles for the radio group component ************************************************************
 **/
.guwmi-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-radio-group fieldset {
  appearance: none;
  border: solid 1px var(--guwmi-secondary-bg);
  border-radius: var(--guwmi-radius);
  padding: 1rem;
}
.guwmi-radio-group fieldset legend {
  position: relative;
  padding: 0 1rem;
  font-size: 0.85rem;
}
.guwmi-radio-group fieldset .guwmi-radio-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.guwmi-radio-group fieldset .guwmi-radio-container.row {
  flex-direction: row;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div {
  position: relative;
  display: flex;
  gap: 1rem;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div.guwmi-skeleton {
  width: 47%;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div * {
  cursor: pointer;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div.disabled {
  opacity: 0.5;
}
.guwmi-radio-group fieldset .guwmi-radio-container > div.disabled * {
  cursor: not-allowed;
}
.guwmi-radio-group.error legend {
  color: var(--guwmi-alert-red-text);
}
.guwmi-radio-group.error fieldset {
  border-color: var(--guwmi-alert-red);
}
.guwmi-radio-group.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red-text);
}
.guwmi-radio-group.disabled {
  opacity: 0.5;
}
.guwmi-radio-group.disabled fieldset {
  cursor: not-allowed;
}
