/**
 * Styles for the textarea input component ************************************************************
 **/
.guwmi-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.guwmi-textarea label {
  padding-left: 0.66rem;
  font-size: 0.85rem;
}
.guwmi-textarea textarea {
  appearance: none;
  padding: 0.66rem;
  background: var(--guwmi-primary-bg);
  border: solid 1px var(--guwmi-secondary-bg);
  border-bottom-color: var(--guwmi-text);
  border-top-right-radius: var(--guwmi-radius);
  border-top-left-radius: var(--guwmi-radius);
  font-size: 1rem;
  color: var(--guwmi-text);
  min-height: 5rem;
}
.guwmi-textarea textarea::placeholder {
  color: var(--guwmi-text);
  opacity: 0.33;
}
.guwmi-textarea.error label {
  color: var(--guwmi-alert-red);
}
.guwmi-textarea.error textarea {
  border-bottom-color: var(--guwmi-alert-red);
}
.guwmi-textarea.error span {
  padding-left: 0.66rem;
  font-size: 0.85rem;
  color: var(--guwmi-alert-red);
}
.guwmi-textarea.disabled {
  opacity: 0.5;
}
.guwmi-textarea.disabled textarea {
  cursor: not-allowed;
}
