/**
 * Index file for pulling all component files together **********************************************
 **/
/**
 * Styles for the Accordion component and children **************************************************
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/**
 * Color variables for for use in the library *******************************************************
 **/
:root {
  --text: #161616;
  --text-contrast: white;
  --app-bg: white;
  --primary-bg: #f4f4f4;
  --secondary-bg: #e0e0e0;
  --tertiary-bg: #a8a8a8;
  --high-contrast-bg: #393939;
  --primary: #1565c0;
  --primary-alt: #1876c8;
  --secondary: #8434ca;
  --secondary-alt: #9d4edd;
  --white: #fff;
  --black: #000;
  --alert-red: #da1e28;
  --alert-red-alt: #c2141d;
  --alert-green: #24a148;
  --alert-orange: #ff832b;
  --alert-yellow: #f1c21b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f4f4f4;
    --text-contrast: #161616;
    --app-bg: #262626;
    --primary-bg: #393939;
    --secondary-bg: #525252;
    --high-contrast-bg: #f4f4f4;
    --tertiary-bg: #6f6f6f;
    --primary: #1876c8;
    --primary-alt: #1565c0;
    --secondary: #9d4edd;
    --secondary-alt: #8434ca;
  }
}
.guwmi-accordion-container {
  border: solid 1px var(--secondary-bg);
  border-radius: 3px;
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.guwmi-accordion-container .guwmi-accordion-item:nth-of-type(1) > button {
  border-top: 0;
}
.guwmi-accordion-container .guwmi-accordion-item > button {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  background: var(--primary-bg);
  border-top: solid 1px var(--secondary-bg);
}
.guwmi-accordion-container .guwmi-accordion-item > button.active svg {
  transform: rotate(90deg);
}
.guwmi-accordion-container .guwmi-accordion-item > button svg {
  margin-left: auto;
  transition: ease all 0.15s;
}
.guwmi-accordion-container .guwmi-accordion-item > section {
  transition: ease all 0.33333s;
}
.guwmi-accordion-container .guwmi-accordion-item > section .guwmi-accordion-panel-content {
  padding: 1rem;
}

/**
 * Styles for the Button component ******************************************************************
 **/
.guwmi-btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px rgba(0, 0, 0, 0);
  transition: ease all 0.33333s;
  color: white;
  background: black;
  text-decoration: none;
}
.guwmi-btn.sm {
  padding: 0.25rem 0.67rem;
  font-size: 0.9rem;
}
.guwmi-btn.md {
  padding: 0.5rem 1.25rem;
}
.guwmi-btn.lg {
  padding: 0.65rem 2rem;
  font-size: 1.1rem;
}
.guwmi-btn.primary {
  background: var(--primary);
  border-color: var(--primary);
}
.guwmi-btn.primary:hover.fill {
  background: var(--primary-alt);
  border-color: var(--primary-alt);
}
.guwmi-btn.primary:hover.outline {
  background: var(--primary);
  border-color: var(--primary);
  color: white;
}
.guwmi-btn.primary.outline {
  color: var(--primary);
  border-color: var(--primary);
}
.guwmi-btn.primary.ghost {
  color: var(--primary);
}
.guwmi-btn.secondary {
  background: var(--secondary);
  border-color: var(--secondary);
}
.guwmi-btn.secondary:hover.fill {
  background: var(--secondary-alt);
  border-color: var(--secondary-alt);
}
.guwmi-btn.secondary:hover.outline {
  background: var(--secondary);
  border-color: var(--secondary);
  color: white;
}
.guwmi-btn.secondary.outline {
  color: var(--secondary);
  border-color: var(--secondary);
}
.guwmi-btn.secondary.ghost {
  color: var(--secondary);
}
.guwmi-btn.danger {
  background: var(--alert-red);
  border-color: var(--alert-red);
}
.guwmi-btn.danger:hover.fill {
  background: var(--alert-red-alt);
  border-color: var(--alert-red-alt);
}
.guwmi-btn.danger:hover.outline {
  background: var(--alert-red);
  border-color: var(--alert-red);
  color: white;
}
.guwmi-btn.danger.outline {
  color: var(--alert-red);
  border-color: var(--alert-red);
}
.guwmi-btn.danger.ghost {
  color: var(--alert-red);
}
.guwmi-btn.outline {
  background: none;
  border-color: white;
}
.guwmi-btn.ghost {
  background: none;
  border-color: rgba(0, 0, 0, 0);
}
.guwmi-btn.round {
  border-radius: 4px;
}
.guwmi-btn.pill {
  border-radius: 50px;
}

@media (prefers-color-scheme: dark) {
  .guwmi-btn.outline {
    background: rgba(0, 0, 0, 0.1);
  }
  .guwmi-btn.ghost {
    background: rgba(0, 0, 0, 0.1);
  }
  .guwmi-btn.ghost:hover {
    background: rgba(0, 0, 0, 0.15);
  }
}
/**
 * ButtonGroup component styles *********************************************************************
 **/
.guwmi-btn-group {
  display: flex;
}
.guwmi-btn-group .guwmi-btn {
  border-radius: 0;
}
.guwmi-btn-group:not(.outline) .guwmi-btn {
  border-right-color: rgba(0, 0, 0, 0.15);
}
.guwmi-btn-group:not(.outline) .guwmi-btn:last-child {
  border-right-color: rgba(0, 0, 0, 0);
}
.guwmi-btn-group.round .guwmi-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.guwmi-btn-group.round .guwmi-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.guwmi-btn-group.pill .guwmi-btn:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.guwmi-btn-group.pill .guwmi-btn:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.guwmi-btn-group.outline .guwmi-btn {
  border-right-width: 0;
}
.guwmi-btn-group.outline .guwmi-btn:last-child {
  border-right-width: 2px;
}

/**
 * Style for the Cards and child components *********************************************************
 **/
.guwmi-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.guwmi-card-grid > * {
  background: var(--primary-bg);
  border: solid 1px var(--secondary-bg);
  border-radius: 3px;
  box-sizing: border-box;
}
.guwmi-card-grid > *:last-of-type {
  margin-right: auto;
}
.guwmi-card-grid.two > * {
  flex-basis: calc(50% - 0.5rem);
}
.guwmi-card-grid.three > * {
  flex-basis: calc(33.33333% - 0.66666rem);
}
.guwmi-card-grid.four > * {
  flex-basis: calc(25% - 0.75rem);
}
.guwmi-card-grid.five > * {
  flex-basis: calc(20% - 0.8rem);
}
.guwmi-card-grid.six > * {
  flex-basis: calc(15% - 0.85rem);
}
.guwmi-card-grid .guwmi-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.guwmi-card-grid .guwmi-card .guwmi-card-image {
  width: 100%;
  object-fit: cover;
}
.guwmi-card-grid .guwmi-card .guwmi-card-section {
  padding: 1rem;
  border-top: solid 1px var(--secondary-bg);
}
.guwmi-card-grid .guwmi-card .guwmi-card-section:first-of-type {
  border-top: 0;
}
.guwmi-card-grid .guwmi-card .guwmi-card-section.guwmi-card-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.guwmi-card-grid .guwmi-card .guwmi-card-section.guwmi-card-title h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}
.guwmi-card-grid .guwmi-card .guwmi-card-section.guwmi-card-title h3 {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
  opacity: 0.65;
  letter-spacing: unset;
}

/**
 * Styles for the Drawer component ******************************************************************
 **/
.guwmi-drawer-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  backdrop-filter: blur(0);
  z-index: 99999;
  transition: linear all 0.15s;
  display: flex;
}
.guwmi-drawer-overlay.open {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
}
.guwmi-drawer-overlay.open .guwmi-drawer.left,
.guwmi-drawer-overlay.open .guwmi-drawer.right {
  transform: translateX(0);
}
.guwmi-drawer-overlay .guwmi-drawer {
  position: relative;
  display: block;
  background: var(--text-contrast);
  color: var(--text);
  padding: 1rem;
  transition: ease all 0.3s;
  min-width: 300px;
}
.guwmi-drawer-overlay .guwmi-drawer.left {
  border-right: solid 1px var(--primary-bg);
  transform: translateX(-100%);
  margin-right: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.left .guwmi-drawer-close-button {
  right: -0.25rem;
  transform: translateX(100%);
}
.guwmi-drawer-overlay .guwmi-drawer.right {
  border-left: solid 1px var(--primary-bg);
  transform: translateX(100%);
  margin-left: auto;
}
.guwmi-drawer-overlay .guwmi-drawer.right .guwmi-drawer-close-button {
  left: -0.25rem;
  transform: translateX(-100%);
}
.guwmi-drawer-overlay .guwmi-drawer .guwmi-drawer-close-button {
  position: absolute;
  top: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .guwmi-drawer-close-button {
    color: var(--text-contrast);
  }
}
/**
 * Styles for the Icon Button component ******************************************************************
 **/
.guwmi-btn.icon.sm {
  padding: 0.25rem;
  font-size: 0.9rem;
}
.guwmi-btn.icon.md {
  padding: 0.5rem;
}
.guwmi-btn.icon.lg {
  padding: 0.65rem;
  font-size: 1.1rem;
}
.guwmi-btn.icon.circle {
  border-radius: 50%;
}

/**
 * Styles for the Menu and child components ********************************************************
 **/
.guwmi-menu-container {
  position: relative;
}
.guwmi-menu-container.top-right .guwmi-menu-dropdown {
  top: -0.25rem;
  right: 0;
  transform: translateY(-100%);
}
.guwmi-menu-container.top-left .guwmi-menu-dropdown {
  top: -0.25rem;
  left: 0;
  transform: translateY(-100%);
}
.guwmi-menu-container.top-center .guwmi-menu-dropdown {
  top: -0.25rem;
  left: 50%;
  transform: translate(-50%, -100%);
}
.guwmi-menu-container.bottom-right .guwmi-menu-dropdown {
  bottom: -0.25rem;
  right: 0;
  transform: translateY(100%);
}
.guwmi-menu-container.bottom-left .guwmi-menu-dropdown {
  bottom: -0.25rem;
  left: 0;
  transform: translateY(100%);
}
.guwmi-menu-container.bottom-center .guwmi-menu-dropdown {
  bottom: -0.25rem;
  left: 50%;
  transform: translate(-50%, 100%);
}
.guwmi-menu-container .guwmi-menu-dropdown {
  position: absolute;
  background: var(--primary-bg);
  border: solid 1px var(--secondary-bg);
  padding: 0.25rem;
  border-radius: 4px;
  opacity: 0;
  transition: ease-in all 0.1s;
  z-index: 99999;
}
.guwmi-menu-container .guwmi-menu-dropdown.open {
  opacity: 1;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item .guwmi-menu-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 0;
  background: none;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  transition: ease all 0.4s;
}
.guwmi-menu-container .guwmi-menu-dropdown > ul .guwmi-menu-item .guwmi-menu-btn:hover {
  background: var(--secondary-bg);
}

/**
 * Styles for the modal component *******************************************************************
 **/
.guwmi-modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  transition: ease all 0.15s;
}
.guwmi-modal-overlay.open {
  opacity: 1;
}
.guwmi-modal-overlay .guwmi-modal {
  position: relative;
  display: block;
  background: var(--text-contrast);
  color: var(--text);
  padding: 1rem;
  border: solid 1px var(--primary-bg);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.guwmi-modal-overlay .guwmi-modal.sm {
  width: 33%;
}
.guwmi-modal-overlay .guwmi-modal.md {
  width: 50%;
}
.guwmi-modal-overlay .guwmi-modal.lg {
  width: 75%;
}
.guwmi-modal-overlay .guwmi-modal .guwmi-modal-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  background: none;
  border: 0;
  cursor: pointer;
}

/**
 * Styles for the Tabs component and children *******************************************************
 **/
.guwmi-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.guwmi-tabs-container .guwmi-tabs {
  position: relative;
  display: flex;
  gap: 0.25rem;
  background: var(--primary-bg);
  border: solid 1px var(--secondary-bg);
  border-radius: 3px;
  padding: 0.25rem;
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tabs-slider {
  position: absolute;
  height: calc(100% - 0.5rem);
  background: var(--secondary-bg);
  border-radius: 3px;
  transition: ease all 0.4s;
}
.guwmi-tabs-container .guwmi-tabs .guwmi-tab {
  position: relative;
  z-index: 1;
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.guwmi-tabs-container .guwmi-tab-panels {
  border: solid 1px var(--secondary-bg);
  border-radius: 3px;
  overflow: hidden;
  transition: ease all 0.4s;
}
.guwmi-tabs-container .guwmi-tab-panels .guwmi-tab-panel {
  padding: 1rem;
}

/**
 * Style for the table component ********************************************************************
 **/
.guwmi-table-container {
  background: var(--primary-bg);
  padding: 0.25rem 1rem;
  border-radius: 4px;
  border: solid 1px var(--secondary-bg);
}
.guwmi-table-container.condensed {
  padding: 0.25rem 0.5rem;
}
.guwmi-table-container.condensed th,
.guwmi-table-container.condensed td {
  padding: 0.5rem;
}
.guwmi-table-container .guwmi-table-search {
  margin: 1rem 0 0.5rem;
  width: 100%;
}
.guwmi-table-container table {
  width: 100%;
}
.guwmi-table-container table th,
.guwmi-table-container table td {
  text-align: left;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-bottom: solid 1px var(--secondary-bg);
  font-size: 0.9rem;
}
.guwmi-table-container table thead th {
  border-color: var(--tertiary-bg);
  font-size: 1rem;
}
.guwmi-table-container table tbody tr:last-of-type td {
  border: 0;
}

/**
 * Styles for the search input component ************************************************************
 **/
.guwmi-search-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.guwmi-search-input span {
  position: absolute;
  left: 0.5rem;
  top: calc(50% + 0.1rem);
  transform: translateY(-50%);
  color: var(--text);
}
.guwmi-search-input input {
  flex-grow: 1;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background: var(--secondary-bg);
  border: solid 1px var(--tertiary-bg);
  border-radius: 3px;
  font-size: 0.9rem;
  color: var(--text);
}
.guwmi-search-input input::placeholder {
  color: var(--text);
  opacity: 1;
}

/**
 * Styles for the Notification component ***********************************************************
 **/
.guwmi-notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--high-contrast-bg);
  color: var(--text-contrast);
  padding: 0.75rem;
  border: 0;
  border-left: solid 6px;
  width: auto;
}
.guwmi-notification.error {
  border-color: var(--alert-red);
}
.guwmi-notification.error > svg {
  stroke: var(--alert-red);
}
.guwmi-notification.warning {
  border-color: var(--alert-orange);
}
.guwmi-notification.warning > svg {
  stroke: var(--alert-orange);
}
.guwmi-notification.success {
  border-color: var(--alert-green);
}
.guwmi-notification.success > svg {
  stroke: var(--alert-green);
}
.guwmi-notification > button {
  position: absolute;
  right: 0.5rem;
  background: 0;
  border: 0;
  color: var(--text-contrast);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.guwmi-notification > svg {
  margin-right: 0.5rem;
}
.guwmi-notification h2,
.guwmi-notification p {
  font-size: 0.9rem;
  margin: 0;
}

html,
body {
  font-size: 16px;
  background: var(--app-bg);
  color: var(--text);
}
html *,
body * {
  font-family: "Roboto", sans-serif;
}
html button,
body button {
  color: var(--text);
}
html h1,
html h2,
html h3,
body h1,
body h2,
body h3 {
  letter-spacing: 0.05em;
}
html p,
body p {
  font-size: 1rem;
  line-height: 1.5;
}
html .guwmi-sr-only,
body .guwmi-sr-only {
  position: absolute;
  left: -10000%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
