/**
 * Index file for pulling all component files together **********************************************
 **/

@use '../components/Button/styles.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}